= form_for(@basket, :html => { :class => "form-horizontal" }) do |f|
  - if @basket.errors.any?
    #error_explanation
      %h2
        = pluralize(@basket.errors.count, "error")
        prohibited this basket from being saved:
      %ul
        - @basket.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.label :string, t('app.models.basket.bs_attributes.string', :default => 'string').capitalize, :class => "control-label"
    .controls
      = f.text_field :string
  .form-actions
    = f.submit :class => "btn btn-primary"
