.col-md-12
  %table.table.table-striped.table-sm
    %thead
      %tr
        %th= t(:scode)
        %th= t(:name)
        %th= t(:quantity)
        %th= t(:price)
    %tbody
      - basket.items.each do |item|
        %tr{:class => "line-#{cycle("1","2")}"}
          %td= item.product.scode if item.product
          %td.name= link_to_if item.product, item.name , product_path(item.product)
          %td= item.quantity
          %td= euros item.price
      %tr
        %td{:colspan => 2}
          %b
            = basket_edit_link basket
        %td
          = t(:quantity)
          = basket.quantity
        %td
          = t(:total)
          = euros basket.total_price
      = yield :basket
