%h2
  = t(:baskets)
%p
  = link_to new_basket_path, :class => "admin-button" do
    %i.icon-plus
    = t(:new) + ' ' + t(:basket)
.row
  .medium-9.columns
    %div
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th{column_style("basket", "name")}
              =sorting_header("basket", "name", "")
            %th{column_style("basket", "created_at")}
              =sorting_header("basket", "created_at", "")
            %th= t(:total)
            %th= t(:items)
            %th
              %label.checkbox
                = pluralize(@basket_scope.count, "basket")
        %tbody
          - @baskets.each do |basket|
            %tr{:class => "line-#{cycle("1","2")}"}
              %td{column_style("basket", "name")}
                =basket.name.to_s
              %td{column_style("basket", "created_at")}
                =basket.created_at.to_date.to_s
              %td
                =basket.total_price
              %td
                - basket.items.each do |item| #should break at 5 and do the rest as tooltip
                  = item.quantity
                  x
                  = item.product.name if item.product # maybe thumbs
                  %br
              %td= link_to t(:show) , basket_path(basket), :title => t(:show)
      .btn-toolbar
        .btn-group
          - clean_params
          = paginate @baskets
  .medium-3.columns
    = search_form_for @q, :url => search_baskets_path, :html => { :class => "well well-small" }, :method => :post do |f|
      .search_heading= t(:type)
      = f.select :name_cont, ["" , "cart" , "order" , "purchase"] 
      .search_heading= t(:items)
      = f.text_field :items_product_name_cont ,  :title => t(:name_contains)
      = f.submit t(:filter), :class => "submit-button"
      = link_to  t(:cancel), baskets_path, :class => "admin-button"
