.row
  .col-md-9.baskets
    .row
      .col-md-10
        %h2= t(:baskets)
        = paginate @baskets
      .col-md-2
        = link_to  t(:new) + ' ' + t(:basket) , new_basket_path , :class => "btn btn-primary"
  .col-md-3
    = image_tag "office_clerk/baskets.jpg" , :class => "img-responsive"
.row
  .col-md-9
    %div
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th= sort_link [:office,@q], :created_at
            %th= sort_link [:office,@q], :total_price
            %th= t(:items)
            %th
              %label.checkbox
                = @basket_scope.length.to_s + " " + t("baskets")
        %tbody
          - @baskets.each do |basket|
            %tr{:class => "line-#{cycle("1","2")}"}
              %td
                = date(basket.created_at.to_date)
              %td
                = euros basket.total_price
              %td
                - basket.items.each do |item| #should break at 5 and do the rest as tooltip
                  = item.quantity
                  x
                  = item.name
                  %br
              %td= basket_edit_link(basket)
    = paginate @baskets
  .col-md-3
    = search_form_for @q , :html => { :class => "form-horizontal" }, :method => :get do |f|
      .form-group.row
        .col-md-3
          = f.label(:type)
        .col-md-9
          = f.select :kori_type_eq, [["",""] , [t(:order) , "Order"] , [t(:purchase),"Purchase"]] , {},  :class => "form-control"
      .form-group
        = f.text_field :items_product_name_or_items_product_product_name_cont , :class => "form-control" , :placeholder => t(:product) + " " +t(:name_contains)
      .form-group.row
        .col-md-4
          = f.label(:total_price)
        .col-md-4
          = f.text_field :total_price_gt , :class => "form-control"
        .col-md-4
          = f.text_field :total_price_lt , :class => "form-control"
      .form-group
        .col-md-3
          = f.label(:created_at)
        .col-sm-1.radio
        .form-group.col-md-6
          = f.search_field :created_at_gteq , :class => "form-control datepicker" , :value => sort_date(:created_at_gteq)
        .form-group.col-md-4
          = f.search_field :created_at_lteq , :class => "form-control datepicker" , :value => sort_date(:created_at_lteq)
      = f.submit t(:filter), :class => "btn btn-success"
      = link_to  t(:cancel), baskets_path, :class => "btn btn-warning"
