%h2
  = t(:basket) + " : " 
  = t(:order) + " " + @basket.kori.number.to_s if @basket.isa(:order)
.col-md-4
  %p
    %b
      = t(:total_price) + " : " +  euros(@basket.total_price)
.col-md-4
  %p
    %b
      = t(:total_tax) + " : " + euros(@basket.total_tax)

= render "small" , :basket => @basket

.col-md-12{"data-no-turbolink" => true}
  = link_to t(:back), orders_path, :class => "btn btn-warning"
  = link_to t(:destroy) , basket_path(@basket), :data => { :confirm => t(:are_you_sure) }, :method => :delete, :title => t(:destroy) , :class => "btn btn-danger" unless @basket.locked?
  = link_to t(:print_order), print_order_path(@basket.kori) , :target => "_blank" , :class => "btn btn-primary print_order" if @basket.isa(:order)
