%h2
  = t(:treeview, :default => 'Treeview')
  = t('app.models.basket.bs_caption', :default => 'basket')
- namespace_for_url = ""
- plural_model_name = "baskets"
- model_name        = "basket"
- opened_node       = Basket.select(:id).all.map{ |g| "'treeelt_" + g.id.to_s + "'" }.join(',').html_safe
#treeview{"data-model" => model_name, "data-opened" => "[#{opened_node}]", "data-url" => "/#{namespace_for_url}#{plural_model_name}/"}
  %ul
    - Basket.transaction do
      - ar = Basket.where(:basket_id => nil)
      - ar = ar.order("position") if Basket.column_names.include?("position")
      - for g in ar.all
        = build_treeview(g, 'baskets')
