.row
  .col-6
    %h1= t(:sign_in)
    = form_tag create_session_path do |f|
      .form-group
        = text_field_tag :email, params[:email] , :label => t(:email) , class: "form-control"
      .form-group
        = password_field_tag :password , params[:password] , :label => t(:password)
      .form-group
        = submit_tag  t(:sign_in) , :class => "btn btn-info submit"
