.col-md-4
  %h1= t(:sign_in)
  = bootstrap_form_tag :url => office.create_session_path do |f|
    .form_group
      = f.text_field :email, value: params[:email] , :label => t(:email)
    .form_group
      = f.password_field :password , value: params[:password] , :label => t(:password)
    .form_group
      = f.submit  t(:sign_in) , :class => "btn btn-info submit"
  