%h2
  = t params["action"]
  = t(:clerk)
  -if @clerk.admin
    =t(:admin) 
= simple_form_for(@clerk, :html => { :class => "form-horizontal" }) do |f|
  .row
    = f.input :admin
    = f.input :email
    = f.input :name
    = f.input :street
    = f.input :city
    = f.input :phone
    -unless @clerk.new_record?
      =f.label t(:may_be_blank)
    = f.input :password
    = f.input :password_confirmation
  .form-actions
    = f.submit :class => "btn btn-success" , :id => "submit"
    = link_to t(:back), clerks_path, :class => "btn btn-warning"
