.row
  .col-md-9.clerks
    .row
      .col-md-10
        %h2= t(:clerks)
        = paginate @clerks
      .col-md-2
        = link_to  t(:new) + ' ' + t(:clerk) , new_clerk_path , :class => "btn btn-primary"
  .col-md-3
    = image_tag "admin/clerks.jpg" , :class => "img-responsive"
.row
  .col-md-9
    %div
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th=sort_link @q, :email
            %th=t(:address)
            %th{:colspan => "2"}
              %label.checkbox
                = @clerks.length.to_s + " " + t(:clerk)
        %tbody
          - @clerks.each do |clerk|
            %tr{:class => "line-#{cycle("1","2")}"}
              %td=clerk.email
              %td=clerk.whole_address
              %td= link_to t(:show) , clerk_path(clerk), :title => t(:show)
              %td= link_to t(:edit), edit_clerk_path(clerk), :title => t(:edit)
    = paginate @clerks
  .col-md-3
    = search_form_for @q, :url => search_clerks_path, :html => { :class => "well well-small" }, :method => :post do |f|
      .form-group
        = f.text_field :email_cont , :placeholder =>  t(:email)
      .form-group
        = f.text_field :address_cont , :placeholder =>  t(:address)
      = f.submit t(:filter), :class => "btn btn-success"
      = link_to  t(:cancel), clerks_path, :class => "btn btn-warning"
