.row
  .col-md-9
    .row
      .col-md-10
        %h2
          = t(:clerks)
      .col-md-2
        = link_to  t(:new) + ' ' + t(:clerk) , new_clerk_path , :class => "btn btn-primary"
    .row
      %p
        = paginate @clerks
  .col-md-3
    = image_tag "admin/clerks.jpg" , :class => "img-responsive"
.row
  .col-md-9
    %div
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th=sort_link @q, :email
            %th{column_style("clerk", "address")}
              =t(:address)
            %th{:colspan => "2"}
              %label.checkbox
                = @clerk_scope.count.to_s + " " + t(:clerk)
        %tbody
          - @clerks.each do |clerk|
            %tr{:class => "line-#{cycle("1","2")}"}
              %td{column_style("clerk", "email")}
                =clerk.email
              %td{column_style("clerk", "address")}
                =clerk.whole_address
              %td= link_to t(:show) , clerk_path(clerk), :title => t(:show)
              %td= link_to t(:edit), edit_clerk_path(clerk), :title => t(:edit)
  .col-md-3
    = search_form_for @q, :url => search_clerks_path, :html => { :class => "well well-small" }, :method => :post do |f|
      = f.facet_for(:email , :label => t(:email))
      = f.facet_for(:address , :label => t(:address))
      = f.submit t(:filter), :class => "btn btn-success"
      = link_to  t(:cancel), clerks_path, :class => "btn btn-primary"
