.col-md-8
  = simple_form_for(@basket , url: house_url(@basket) ) do |f|
    .row
      .col-md-2
        = f.input :width
        %span
          roof_length:
          =@basket.roof_length
      .col-md-2
        = f.input :length
        %span
          floor:
          =@basket.width * @basket.length
      .col-md-2
        = f.input :height
        %span
          gabel_height:
          =@basket.gabel_height
      .col-md-2
        = f.input :angle
        %span
          end_wall_area:
          =@basket.end_wall_area
      .col-md-2
        = f.input :name
      .col-md-2
        = f.submit t(:update), :class => "btn btn-success"

.col-md-2.pill{ "v-bind:class" => "{active_pill: tab == 1}"}
  %h6
    %a{"@click" => "tab = 1"}= t(:house)
.col-md-2.pill{"v-bind:class" => "{active_pill: tab == 2}"}
  %h6
    %a{"@click" => "tab = 2"}= t(:products)
