.row.house_index_start
  .col-md-9.houses
    .row
      .col-md-8
        %h2= t(:houses)
        = paginate @houses
      .col-md-2
        = link_to  t(:update) + ' ' + t(:products) , products_houses_path , :class => "btn btn-primary"
      .col-md-2
        = link_to  t(:new) + ' ' + t(:house) , new_house_path , :class => "btn btn-primary"
  .col-md-3
    = image_tag "ruby_clerks/houses.jpg" , :class => "img-responsive"
.row
  .col-md-12
    %div
      %table.table.table-striped.table-bordered.table-sm
        %thead
          %tr
            %th= t(:name)
            %th= t(:area)
            %th= t(:width)
            %th= t(:length)
            %th= t(:height)
            %th= t(:angle)
            %th= sort_link [:office,@q], :total_price
            %th= t(:items)
            %th
              %label.checkbox
                = @house_scope.length.to_s + " " + t("houses")
        %tbody
          - @houses.each do |house|
            %tr{:class => "line-#{cycle("1","2")}"}
              %td
                = basket_edit_link(house)
              %td= (house.width*house.length).to_i
              %th= house.width
              %th= house.length
              %th= house.height
              %th= house.angle
              %td= euros house.total_price
              %td= house.items.count
              %td= house.id
    = paginate @houses
