%h2
  = t(:listing, :default => "Listing")
  = t('app.models.user.bs_caption_plural', :default => 'user')
%p
  = link_to '<i class="icon-plus"></i> '.html_safe + t(:new, :default => "New") + ' ' + t('app.models.user.bs_caption', :default => 'user'), new_user_path, :class => "btn"
.row-fluid
  .span9
    %div
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th
              = check_box_tag :checkall, ''
            %th{column_style("user", "email")}
              =sorting_header("user", "email", "")
            %th{column_style("user", "name")}
              =sorting_header("user", "name", "")
            %th{column_style("user", "address")}
              =sorting_header("user", "address", "")
            %th{:colspan => "3"}
              %label.checkbox
                = check_box_tag :checkallelt, 'all'
                = pluralize(@user_scope.count, "user")
        %tbody
          - @users.each do |user|
            %tr{:class => "line-#{cycle("1","2")}"}
              %td= check_box_tag "ids[]",user.id, false, :class => 'cbbatch'
              %td{column_style("user", "email")}
                =user.email
              %td{column_style("user", "name")}
                =user.name
              %td{column_style("user", "address")}
                =user.address
              %td= link_to '<i class="icon-search"></i>'.html_safe, user_path(user), :title => t(:show, :default => "Show")
              %td= link_to '<i class="icon-pencil"></i>'.html_safe, edit_user_path(user), :title => t(:edit, :default => "Edit")
              %td= link_to '<i class="icon-remove"></i>'.html_safe, user_path(user), :data => { :confirm => t(:are_you_sure, :default => "Are you sure?") }, :method => :delete, :title => t(:destroy, :default => "Destroy")
      .btn-toolbar
        .btn-group
          - clean_params
          = will_paginate @users,                                |
            :inner_window => 0,                                  |
            :outer_window => 0,                                  |
            :previous_label => t(:prev), |
            :next_label => t(:next)          |
        .btn-group.pull-right
          = link_to users_path(:format => :csv), :class => "btn" do
            %i.icon-download CSV
          = link_to users_path(:format => :json), :class => "btn" do
            %i.icon-download JSON 
  .span3
    = search_form_for @q, :url => search_users_path, :html => { :class => "well well-small" }, :method => :post do |f|
      = ransack_field("user", "email", f, "Email")
      = ransack_field("user", "name", f, "Name")
      = ransack_field("user", "id", f, "Id")
      = f.submit t(:filter, :default => "Filter"), :class => "btn btn-primary"
      = link_to  t(:cancel, :default => "Cancel"), users_path(:nosearch => "ok"), :class => "btn"
