.row
  .large-9.column
    .row
      .large-8.column
        %h2
          = t(:users)
      .large-4.column
        = link_to  t(:new) + ' ' + t(:user) , new_user_path , :class => "admin-button"
    .row
      %p
        = paginate @users
  .large-3.column
    = image_tag "admin/users.jpg"
.row
  .medium-9.columns
    %div
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th=sort_link @q, :email
            %th{column_style("user", "address")}
              =t(:address)
            %th{:colspan => "3"}
              %label.checkbox
                = @user_scope.count.to_s + " " + t(:user)
        %tbody
          - @users.each do |user|
            %tr{:class => "line-#{cycle("1","2")}"}
              %td{column_style("user", "email")}
                =user.email
              %td{column_style("user", "address")}
                =user.whole_address
              %td= link_to t(:show) , user_path(user), :title => t(:show)
              %td= link_to t(:edit), edit_user_path(user), :title => t(:edit)
              %td= link_to t(:destroy) , user_path(user), :data => { :confirm => t(:are_you_sure) }, :method => :delete, :title => t(:destroy)
  .medium-3.columns
    = search_form_for @q, :url => search_users_path, :html => { :class => "well well-small" }, :method => :post do |f|
      = f.facet_for(:email , :label => t(:email))
      = f.facet_for(:address , :label => t(:address))
      = f.submit t(:filter), :class => "submit-button"
      = link_to  t(:cancel), users_path, :class => "admin-button"
