%h2= t(:user) + " : " + t(:email) 
%p
  %b= t(:address)
%p
  %b= t(:name) + " : " + @user.name.to_s
%p
  %b= t(:street) + " : " + @user.street.to_s
%p
  %b= t(:city) + " : " + @user.city.to_s
%p
  %b= t(:phone) + " : " + @user.phone.to_s

= link_to t(:edit), edit_user_path(@user), :class => "admin-button"
= link_to t(:back), users_path, :class => "admin-button"
