%h2
  = t(:show, :default => "Show")
  = t('app.models.user.bs_caption', :default => 'user')
%p
  %b
    = t('app.models.user.bs_attributes.email', :default => 'email') + ":"
  = @user.email
%p
  %b
    = t('app.models.user.bs_attributes.name', :default => 'name') + ":"
  = @user.name
%p
  %b
    = t('app.models.user.bs_attributes.address', :default => 'address') + ":"
  = @user.address
= link_to t(:edit), edit_user_path(@user), :class => "admin-button"
= link_to t(:back), users_path, :class => "admin-button"
