=render "chart"

:javascript
  var allItems = #{ @items.to_json };
.row.new_report
  .col-md-9
    #placeholder{style: "width: 100%;height: 100%;"}
      %vue-chartist{":data" => "data" , ":options" => "options"}
    #legend
      %button
        Orders {{total_orders}}
      %button
        Items {{total_items}}
      %button
        {{show}} {{total_shown.toFixed(0)}}
  .col-md-3
    = search_form_for @search , :url => office.manage_reports_url , :html => { :class => "form-horizontal" , :role => "form"} do |f|
      .form-group
        %select.form-control{"v-model" => "kind"  }
          %option{ value: "Order"}= t(:order)
          %option{ value: "Purchase"}= t(:purchase)
      .form-group
        .col-md-4
          = f.label :supplier , t(:supplier)
        .col-md-8
          %select.form-control{"v-model" => "supplier"  }
            %option{ value: ""}
            %option{ "v-for" => "s in suppliers", "v-bind:value": "s['id']" }
              {{ s['supplier_name']}}
      .form-group
        .col-md-4
          = f.label :category, t(:category)
        .col-md-8
          %select.form-control{"v-model" => "category"  }
            %option{ value: ""}
            %option{ "v-for" => "c in categories", "v-bind:value": "c['id']" }
              {{ c['name']}}
      .form-group
        %label= t("date_range")
        .date-range-filter
          .col-md-6
            = f.text_field :created_at_gt, :class => 'datepicker form-control' , :value => sort_date(:created_at_gt)
          .col-md-6
            = f.text_field :created_at_lt, :class => 'datepicker form-control', :value => sort_date(:created_at_lt)
      .form-group
        .col-md-4
          %label= t("group_by")
        .col-md-8
          = select_tag :group_by,  options_for_select( group_options , @group_by) , :class => "form-control"
      .form-group
        .col-md-6
          %label{:for => "one"} Hinta
          %input#one{:type => "radio", "v-model" => "show", :value => "price"}/
        .col-md-6
          %label{:for => "two"}= t(:quantity)
          %input#two{:type => "radio", "v-model" => "show", :value => "quantity"}/
      .form-group
        .col-md-4
          = f.submit :month , :class => "btn btn-success" , :name => 'period'
        .col-md-4
          = f.submit :week , :class => "btn btn-success" , :name => 'period'
        .col-md-4
          = f.submit :day , :class => "btn btn-success" , :name => 'period'
:javascript
  var app = new Vue({
    el: '.new_report',
    data: {
      items: allItems,
      attributes: #{@attributes.to_json} ,
      categories: #{Category.all.to_json( only: [:id , :name])} ,
      suppliers: #{Supplier.all.to_json( only:  [:id , :supplier_name])},
      options: {
        fullWidth: true,
        stackBars: true,
        height: 400,
        chartPadding: {
          right: 40
        }
      },
      show: "price",
      kind: "Order",
      supplier: "",
      category: "",
      interval: 'week',
    },
    computed: {
      filteredKinds: function(){
        var index = this.attributes.indexOf("baskets.kori_type")
        var that = this.kind
        return this.items.filter(function(item) { return item[index] == that ; })
      },
      filteredSuppliers: function(){
        var that = this.supplier
        var items = this.filteredKinds
        if(that == "" ) return items
        var index = this.attributes.indexOf("products.supplier_id")
        return items.filter(function(item) { return item[index] == that ; })
      },
      filteredCategories: function(){
        var that = this.category
        var items = this.filteredSuppliers
        if(that == "" ) return items
        var index = this.attributes.indexOf("products.category_id")
        return items.filter(function(item) { return item[index] == that ; })
      },
      total_items: function(){
        return this.filteredCategories.length
      },
      total_orders: function(){
        var items = this.filteredCategories
        var basket = this.attributes.indexOf("basket_id")
        var all = {}
        for(var i = 0; i < items.length; i++) {
          all[items[i][basket]] = 1
        }
        return Object.keys(all).length
      },
      total_shown: function(){
        var show  = this.attributes.indexOf( this.show )
        var items = this.filteredCategories
        var total = 0
        for(var i = 0; i < items.length; i++) {
          total += items[i][show]
        }
        return total
      },

      data: function() {
        var items = this.filteredCategories
        var all = {}
        var vals = []
        labels = []
        var created_at = this.attributes.indexOf("created_at")
        var show = this.attributes.indexOf( this.show )
        for(var i = 0; i < items.length; i++) {
          item = items[i]
          var bucket = moment(item[created_at]).week()
          var was = all[bucket] || 0
          all[bucket] = was + item[show]
        }
        for( var key in all){
          vals.push(all[key])
          labels.push( "Week " + key )
        }
        return {
          labels: labels,
          series: [ vals ]
        }
      }
    },
    methods: {
    }
  });
