=render "chart"

:javascript
  var allItems = #{ @items.to_json };
.row.new_report
  .col-md-9
    #placeholder{style: "width: 100%;height: 100%;"}
      %vue-chartist{":data" => "data" , ":options" => "options"}
    #legend
      %button
        Total {{total}}
      %button
        Items {{total_items}}
  .col-md-3
    = search_form_for @search , :url => office.manage_reports_url , :html => { :class => "form-horizontal" , :role => "form"} do |f|
      .form-group
        %select.form-control{"v-model" => "kind"  }
          %option{ value: "Order"}= t(:order)
          %option{ value: "Purchase"}= t(:purchase)
      .form-group
        .col-md-4
          = f.label :supplier , t(:supplier)
        .col-md-8
          %select.form-control{"v-model" => "supplier"  }
            %option{ value: ""}
            %option{ "v-for" => "s in suppliers", "v-bind:value": "s['id']" }
              {{ s['supplier_name']}}
      .form-group
        .col-md-4
          = f.label :category, t(:category)
        .col-md-8
          %select.form-control{"v-model" => "category"  }
            %option{ value: ""}
            %option{ "v-for" => "c in categories", "v-bind:value": "c['id']" }
              {{ c['name']}}
      .form-group
        %label= t("date_range")
        .date-range-filter
          .col-md-6
            = f.text_field :created_at_gt, :class => 'datepicker form-control' , :value => sort_date(:created_at_gt)
          .col-md-6
            = f.text_field :created_at_lt, :class => 'datepicker form-control', :value => sort_date(:created_at_lt)
      .form-group
        .col-md-4
          %label= t("group_by")
        .col-md-8
          = select_tag :group_by,  options_for_select( group_options , @group_by) , :class => "form-control"
      .form-group
        .col-md-4
          Hinta
          = radio_button_tag :price_or,  :total , :total == @price_or
        .col-md-4
          = t(:quantity)
          = radio_button_tag :price_or,  :quantity , :quantity == @price_or
      .form-group
        .col-md-4
          = f.submit :month , :class => "btn btn-success" , :name => 'period'
        .col-md-4
          = f.submit :week , :class => "btn btn-success" , :name => 'period'
        .col-md-4
          = f.submit :day , :class => "btn btn-success" , :name => 'period'
:javascript
  var app = new Vue({
    el: '.new_report',
    data: {
      items: allItems,
      attributes: #{@attributes.to_json} ,
      categories: #{Category.all.to_json( only: [:id , :name])} ,
      suppliers: #{Supplier.all.to_json( only:  [:id , :supplier_name])},
      options: {
        fullWidth: true,
        stackBars: true,
        height: 400,
        chartPadding: {
          right: 40
        }
      },
      total: 0,
      total_items: 0,
      kind: "Order",
      supplier: "",
      category: "",
      interval: 'week',
    },
    computed: {
      kinds: function(){
        var index = this.attributes.indexOf("baskets.kori_type")
        var that = this.kind
        return this.items.filter(function(item) { return item[index] == that ; })
      },
      data: function() {
        var items = this.kinds
        var all = {}
        var total = 0
        var total_items = 0
        var vals = []
        labels = []
        var created_at = this.attributes.indexOf("created_at")
        var quantity = this.attributes.indexOf("quantity")
        for(var i = 0; i < items.length; i++) {
          item = items[i]
          var bucket = moment(item[created_at]).week()
          var was = all[bucket] || 0
          all[bucket] = was + item[quantity]
          total += item[quantity]
          total_items += 1
        }
        for( var key in all){
          vals.push(all[key])
          labels.push( "Week " + key )
        }
        this.total = total
        this.total_items = total_items
        return {
          labels: labels,
          series: [ vals ]
        }
      }
    },
    methods: {
    }
  });
