=render "chart"

:javascript
  var allItems = #{ render( partial: "manage/items.json") };
.row.new_report
  .col-md-9
    #placeholder{style: "width: 100%;height: 100%;"}
      %vue-chartist{":data" => "data" , ":options" => "options"}
    #legend
      %button
        Total {{total}}
      %button
        Items {{total_items}}
  .col-md-3
    = search_form_for @search , :url => office.manage_reports_url , :html => { :class => "form-horizontal" , :role => "form"} do |f|
      .form-group
        %select.form-control{"v-model" => "kind"  }
          %option{ value: "Order"}= t(:order)
          %option{ value: "Purchase"}= t(:purchase)
      .form-group
        .col-md-4
          = f.label :supplier , t(:supplier)
        .col-md-8
          = f.collection_select :product_supplier_id_eq, Supplier.all, :id, :supplier_name, {:include_blank => true}, :class=>"form-control"
      .form-group
        .col-md-4
          = f.label :category, t(:category)
        .col-md-8
          = f.collection_select :product_category_id_eq, Category.all, :id, :name, {:include_blank => true}, :class=>"form-control"
      .form-group
        %label= t("date_range")
        .date-range-filter
          .col-md-6
            = f.text_field :created_at_gt, :class => 'datepicker form-control' , :value => sort_date(:created_at_gt)
          .col-md-6
            = f.text_field :created_at_lt, :class => 'datepicker form-control', :value => sort_date(:created_at_lt)
      .form-group
        %label= t("group_by")
        %br/
        = select_tag :group_by,  options_for_select( group_options , @group_by) , :class => "form-control"
      .form-group
        .col-md-4
          = t(:price)
          = radio_button_tag :price_or,  :total , :total == @price_or
        .col-md-4
          = t(:profit)
          = radio_button_tag :price_or,  :profit , :profit == @price_or
        .col-md-4
          = t(:quantity)
          = radio_button_tag :price_or,  :quantity , :quantity == @price_or
      .form-group
        .col-md-4
          = f.submit :month , :class => "btn btn-success" , :name => 'period'
        .col-md-4
          = f.submit :week , :class => "btn btn-success" , :name => 'period'
        .col-md-4
          = f.submit :day , :class => "btn btn-success" , :name => 'period'
:javascript
  var app = new Vue({
    el: '.new_report',
    data: {
      items: allItems,
      options: {
        fullWidth: true,
        stackBars: true,
        height: 400,
        chartPadding: {
          right: 40
        }
      },
      total: 0,
      total_items: 0,
      kind: "Order",
      interval: 'week',
    },
    computed: {
      kinds: function(){
        var that = this.kind
        return this.items.filter(function(i) { return i.kind == that ; })
      },
      data: function() {
        var items = this.kinds
        var all = {}
        var total = 0
        var total_items = 0
        var vals = []
        labels = []
        for( var item in items ){
          var bucket = moment(items[item].created_at).week()
          var was = all[bucket] || 0
          all[bucket] = was + items[item].quantity
          total += items[item].quantity
          total_items += 1
        }
        for( var key in all){
          vals.push(all[key])
          labels.push( "Week " + key )
        }
        this.total = total
        this.total_items = total_items
        return {
          labels: labels,
          series: [ vals ]
        }
      }
    },
    methods: {
    }
  });
