.row
  %img{:src => "/assets/shop/spacer.gif"}/
  
.row
  .col-md-3
    .group-wrapper
      %img{:src => "/assets/shop/basket.jpg"}/
      %h5 Ostoskori

  .col-md-9
    .row
      %br
      %h4.highlight Ostoskorisi sisältö
      %div
        %table.table.table-hover.table-condensed
          %thead            
            %tr
              %th tuote
              %th 
              %th hinta a
              %th määrä
              %th yhteishinta
          %tbody
            -current_basket.items.each do |item|
              %tr
                %td.picture= image_tag item.product.main_picture.url(:thumb) if item.product
                %td.name
                  = link_to shop_product_path(:link => item.product.link ) do
                    = item.name
                %td= number_to_currency item.product.price
                %td
                  = link_to cart_remove_path( :id => item.product.id ) do
                    = image_tag "down-icon.png" , :width => 16 , :height => 16
                  = item.quantity
                  = link_to cart_add_path( :id => item.product.id ) do
                    = image_tag "up-icon.png" , :width => 16 , :height => 16
                %td= number_to_currency item.total

            %tr
              %th 
              %th tuotteet yhteensä
              %th
              %th
              %th= number_to_currency current_basket.total_price
        
        %button.btn.btn-primary.btn-sm{:type => "button"} Päivitä ostoskori
        \ 
        \ 
        tai
        \ 
        \ 
              
        %button.btn.btn-primary.btn-sm{:type => "button"} Jatka ostoksia 
              
    .row
      %hr       
      .row
        .col-md-7
      
          %h4.highlight Valitse toimitustapa
          - OfficeClerk::ShippingMethod.all.each do |s|
            .radio
              %label
                %input{:id => s.id , :name => "optionsRadios", :type => "radio", :value => "option3"}/
                = s.name
                = s.price(current_basket)
                €

        .col-md-4
          %h4.highlight Tilaus 123123
          
          %table.table.table-condensed.basket-total
            %thead
              %tr
                %th Tuotteet yhteensä 
                %td.text-right 120,20 €
            %tbody
              %tr 
                %th Toimituskulut 
                %td.text-right 0,00 €
              %tr 
                %th Tilaus yhteensä 
                %th.text-right 120,20 €
                
      
        .col-md-1

            
              
    .row
      %hr 
      .col-md-9
        %h4.highlight Yhteystiedot 
        %form{:role => "form"}
          .form-group
            %label{:for => "nimi"} Nimi
            %input#nimi.form-control{:placeholder => "Nimi", :type => "nimi"}/
          .form-group
            %label{:for => "exampleInputEmail1"} Sähköposti
            %input#exampleInputEmail1.form-control{:placeholder => "Sähköposti", :type => "email"}/
          .form-group
            %label{:for => "Katuosoite"} Katuosoite
            %input#exampleKatuosoite.form-control{:placeholder => "Katuosoite", :type => "Katuosoite"}/
          .form-group
            %label{:for => "Katuosoite"} Puhelin
            %input#examplePuhelin.form-control{:placeholder => "Puhelin", :type => "Puhelin"}/
      .col-md-3
        %h4.highlight Tallennetut osoitteet
        .frame
          Anna Asiakas 
          %br/ 
          Mallikatu 3  
          %br/
          10300 Karjaa  
          %br/
          040 333 4455  
          %br/
          anna.asiakas@gmail.com  
          %br/
          %br/
          
          %button.btn.btn-primary.btn-xs{:type => "button"} Käytä tätä osoitetta
  
    .row
      %hr  
      %form{:role => "form"}
        .form-group
          %label{:for => "Katuosoite"} Viesti
          %input#exampleViesti.form-control{:placeholder => "Kirjoita tähän mahdolliset erityistoiveesi tilaukseen liittyen", :type => "Viesti"}/
      %hr  
      %button.btn.btn-primary{:type => "submit"} Vahvista tilaus    
      
          
    
        
          
