.row  
  %ol.breadcrumb
    %li
      %a{ :href => "/"}= t(:home)
    %li
      = t(:basket)
      
  
= bootstrap_form_for @order, :url => shop_checkout_path do |f|
  .row
    = f.alert_message t(:fix_errors) , error_summary: false

    .col-md-3
      .group-wrapper.side.checkout
        %img{:src => "/assets/shop/basket.jpg"}/
        %h5 Ostoskori

    .col-md-9
      .row
        %br
        %h4 Ostoskorisi sisältö
        %div
          %table.table.table-hover.table-condensed
            %thead            
              %tr
                %th tuote
                %th 
                %th hinta 
                %th määrä
                %th yhteishinta
            %tbody
              -current_basket.items.each do |item|
                %tr
                  %td.picture.text-center= image_tag item.product.main_picture.url(:thumb) if item.product
                  %td.name
                    = link_to shop_product_path(:link => item.product.link ) do
                      = item.name
                  %td= number_to_currency item.product.price
                  %td
                    = link_to cart_remove_path( :id => item.product.id ) do
                      = image_tag "down-icon.png" , :width => 16 , :height => 16
                    = item.quantity
                    = link_to cart_add_path( :id => item.product.id ) do
                      = image_tag "up-icon.png" , :width => 16 , :height => 16
                  %td= number_to_currency item.total

              %tr
                %th 
                %th tuotteet yhteensä
                %th
                %th
                %th= number_to_currency current_basket.total_price
        
  .row
    %hr 
  
    .col-md-3
      %h4.highlight
        Valitse toimitustapa
        .row
          .col-md-10
            %br
              - extra = OfficeClerk.config("defaults.free_shipping") - current_basket.total_price
              - if extra > 0
                .frame.bg-high8
                  %b= t(:notice) + "!"
                  = t(:order_more_for_free_shipping , :more => extra.round(2))

    .col-md-9
      .row
        .col-md-7
          %h4
            Valitse toimitustapa
            = @order.shipment_type              
          - OfficeClerk::ShippingMethod.all.each_value do |s|
            .radio
              = radio_button_tag "order[shipment_type]" , s.type , s.type.to_s == @order.shipment_type , "data-price" => s.price_for(current_basket).round(2)
              = s.name
              = s.price_for(current_basket).round(2)
              €

        .col-md-4
          %h4
            = t(:order)
            = @order.number

          %table.table.table-condensed.basket-total
            %thead
              %tr
                %th Tuotteet yhteensä
                %td.text-right
                  %span#basket_total= current_basket.total_price.round(2)
                  €
            %tbody
              %tr 
                %th Toimituskulut 
                %td.text-right
                  %span#shipping_cost= @order.shipment_price
                  €
              %tr 
                %th Tilaus yhteensä
                %th.text-right
                  %span#order_total= @order.total_price.round(2)
                  €
        .col-md-1


  .row
    %hr 
    .col-md-3
      .row
        .col-md-9
          %h4.highlight Anna yhteystiedot
          %br/
          
          %b Tallennetut osoitteet
          
          .frame#previous_address
            %span.name Anna Asiakas 
            %br/ 
            %span.street Mallikatu 3  
            %br/
            %span.city 10300 Karjaa  
            %br/
            %span.phone 040 333 4455  
            %br/
            %br/
            %button.btn.btn-primary.btn-xs#fill_address{:type => "button"} Käytä tätä osoitetta
      
    .col-md-9
      .row
        .col-md-9#address_form
          %h4 Yhteystiedot 
          = f.text_field :name , :placeholder => t(:name)
          = f.text_field :street , :placeholder => t(:street)
          = f.text_field :city , :placeholder => t(:city)
          = f.text_field :phone , :placeholder => t(:phone)
          = f.email_field :email, :placeholder => t(:email)
          %hr  
          %button.btn.btn-primary.btn-lg#make_order{:type => "submit"} Tee tilaus
          
        .col-md-3
