!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title= t(:receipt)
    = stylesheet_link_tag "shop" , :media => "all"
  %body
    .row
      %img{:src => "/assets/shop/spacer.gif"}/
  
      .receipt.no-screen
        #header
          = image_tag "receipt-logo.gif"
          %br/
          %br/
          .shop
            Auringosta Itään, Kuusta Länteen
          .info
            Fredrikinkatu 19 (Viiskulma)
            %br/
            00120 Helsinki
    
    %hr       
    .row

      .col-md-3.no-print
        .group-wrapper.side.checkout
          %img{:src => "/assets/shop/basket.jpg"}/
          %h5 Tilausvahvistus

      .col-md-9
        .row
          %br
          .row
            .col-md-6
              %i 
                %h4.highlight Kiitos tilauksestasi!    
            .col-md-6.text-right
              %h4.highlight Tilausvahvistus 
              %b Tilaus 
              =@order.number 
              vastaanotettu 
              =date(@order.ordered_on || Date.today)
          %br
          %div
            %table.table.table-condensed
              %thead            
                %tr
                  %th tuote
                  %th 
                  %th hinta
                  %th määrä
                  %th yhteishinta
              %tbody
                -@order.basket.items.each do |item|
                  %tr
                    %td.picture.text-center= image_tag item.product.main_picture.url(:thumb) if item.product
                    %td.name
                      = link_to shop_product_path(:link => item.product.link ) do
                        = item.name
                    %td= number_to_currency item.product.price
                    %td= item.quantity
                    %td= number_to_currency item.total
                %tr
                  %th 
                  %th Tuotteet yhteensä
                  %th
                  %th
                  %th= number_to_currency @order.basket.total_price
                %tr
                  %td 
                  %td Toimituskulut
                  %td
                  %td
                  %td= number_to_currency @order.shipment_price
                %tr
                  %th 
                  %th Tilaus yhteensä
                  %th
                  %th
                  %th= number_to_currency @order.total_price

            %b 
              Valittu toimitustapa: 
              = t(@order.shipment_type)

            
              
        .row
          %hr       
          .col-md-6
            %h4.highlight Yhteystiedot     
            = @order.name
            %br 
            = @order.street
            %br 
            = @order.city
            %br 
            puh 
            =@order.phone
            %br 
            = @order.email   
      
          .col-md-6
            %h4.highlight Tilaushistoria
            Aikaisemmat tilauksesi löydät täältä
            %a{:href => "/page/tilaushistoria"} clerk.auringostaitaan.fi/tilaushistoria
    
            
