.row
  .col-md-3
    - parents(@group).each do | group|
      .group-wrapper.side
        = link_to shop_group_path(group.link) do
          = image_tag group.main_picture.url(:list)
          %h5= group.name
    
    .intro2
      %p.description= markdown @group.description
        
  .col-md-9
    .row
      - @groups.in_groups_of(3).each do |array|
        .row
          -array.each do |group|
            .col-lg-4
              -next unless group
              .group-wrapper.sub
                =link_to shop_group_path(group.link) do
                  = image_tag group.main_picture.url(:product)
                  %h3= group.name
  .row.list
    -@products.in_groups_of(3).each do |three|
      .row.product-listing
        -three.each do |product|
          .col-md-4
            -next unless product
            .product-container
              %h4.product-name
                = product.name
              .row
                .col-md-4
                  .square-image
                    =link_to shop_product_path(:link => product.link ) do
                      =image_tag product.main_picture.url
                .col-md-8
                  .product-fact
                    =link_to shop_product_path( :link => product.link ) , :class => :info do
                      %p Luonnollinen shampoo rasvoittuville hiuksille. Valmistuksessa on käytetty bretagnelaista Fucus vesiculosus ...
                      .price.selling
                        = product.price
                        €
    
              