.row  
  %ol.breadcrumb
    %li
      %a{ :href => "/"}= t(:home)
    - parents(@product.category).each do | group|
      %li
        = link_to group.name , shop_group_path(group.link)
    %li.current
      %a{href: "#"}= @product.name
    
.row.content.product-info
  .row
    .col-md-12
      .product-title-h1
        %h1.product-title= @product.name
  .row
    .col-md-1
      =image_tag  "shop/spacer.gif"
    .col-md-3.picture
      =image_tag @product.main_picture.url(:product) , :class => "img-responsive"

    #product-description.col-md-6
      .row
        .col-md-12
          = raw @product.description
      .row
        .col-md-4.product-price
          %h4
            Hinta
            %span.price.selling= euros @product.price
        .col-md-8    
          %form{"accept-charset" => "UTF-8", action: "/shop/add_item", method: "post"}
            #inside-product-cart-form
              .add-to-cart
                .row
                  .col-md-10
                    %button#add-to-cart-button.btn.btn-primary{type: "submit"}
                      Lisää ostoskoriin
              
    .col-md-1


