.row
  .col-md-3.tex
    - parents(@group).each do | group|
      .group-wrapper.side
        = link_to shop_group_path(group.link) do
          = image_tag group.main_picture.url(:list)
          %h5= group.name
    
    .intro2
      %p.description= markdown( @group.description) rescue ""
  
  .col-md-8
    %br/
    
    .row.product-info
      .col-md-12.product-title-h1
        %h1.product-title= @product.name
        %br/
    
    .row
      .col-md-3.picture
        =image_tag @product.main_picture.url(:product) , :class => "img-responsive-prod"
      #product-description.col-md-9
        .row
          .col-md-12
            = markdown @product.description rescue ""
        .row
          .col-md-4.product-price
            %h4
              =t(:price)
              %span.price.selling= euros @product.price
          .col-md-8
            = form_tag(cart_add_url(:id => @product.id)) do
              #inside-product-cart-form
                .add-to-cart
                  .row
                    .col-md-10
                      %button#add-to-cart-button.btn.btn-primary{:type => :submit}
                        = t(:add_to_basket)
    
        .row
          .col-md-12
            %br/
            %table.table-striped.table-condensed
              %thead.highlight
                %tr
                  %th Muita tuotteita samassa tuoteryhmässä
              %tbody
                - in_group(@product).each do |p|
                  %tr
                    %td
                      =link_to shop_product_path(:link => p.link ) do
                        = p.name
            
            
          
  .col-md-1


