%table.table.table-striped.table-condensed
  %thead
    %tr
      %th= t(:picture)
      %th= t(:name)
      %th= t(:quantity)
      %th= t(:price)
      %th= t(:total)
  %tbody
    %tr{:class => "line-#{cycle("1","2")}" ,"v-for" => "item in basket.items"}
      %td
        %img{ "v-bind:src" => "item.picture" }
      %td
        %a{ ":href" => "'/products/' + item.product_id"}
          {{item.name}}
      %td.quantity
        {{item.quantity}}
        .overlay
          %a{ "@click" => "item.quantity += 1; changed = true"}
            =image_tag "plus.png"
          \&nbsp;
          %span {{item.quantity}}
          \&nbsp;
          %a{ "@click" => "item.quantity -= 1; changed = true"}
            =image_tag "minus.png"
      %td {{item.price}}
      %td {{(item.price * item.quantity).toFixed(2)}}
    %tr
      %th{colspan: 2}
        = t(:total)
      %td
        {{total_amount()}}
      %td
        %a.btn.btn-primary{"v-if" => "changed", "@click" => "submit_basket"}
          Save
      %th
        {{total_price().toFixed(2)}}
