%table.table.table-striped.table-condensed
  %thead
    %tr
      %th= t(:scode)
      %th= t(:name)
      %th= t(:quantity)
      %th= t(:price)
      %th= t(:total)
  %tbody
    %tr{:class => "line-#{cycle("1","2")}" ,"v-for" => "item in filteredBasket"}
      %td
        {{item.scode}}
      %td
        %a{ ":href" => "'/products/' + item.product_id"}
          {{item.name}}
      %td.quantity
        {{item.quantity}}
        .overlay
          %a{ "@click" => "item.quantity += 1; changed = true"}
            =image_tag "plus.png"
          \&nbsp;
          %span {{item.quantity}}
          \&nbsp;
          %a{ "@click" => "item.quantity -= 1; changed = true"}
            =image_tag "minus.png"
      %td {{item.price}}
      %td {{(item.price * item.quantity).toFixed(2)}}
    %tr
      %th= t(:total)
      %td
        {{total_amount()}}
      %td
        = link_to( t(:back) , purchase_path(@purchase) , class: "btn btn-info")
      %td
        = form_for(@purchase.basket) do |f|
          %span{"v-for" => "(item , index) in this.basket.items"}
            %input{hidden: true , "v-bind" => "itemProp(item,index,'id')" , "v-if"=> "item.id"}/
            %input{hidden: true , "v-bind" => "itemProp(item,index,'name')"}/
            %input{hidden: true , "v-bind" => "itemProp(item,index,'price')"}/
            %input{hidden: true , "v-bind" => "itemProp(item,index,'quantity')"}/
            %input{hidden: true , "v-bind" => "itemProp(item,index,'product_id')"}/
          = f.submit :class => "btn btn-success commit" ,"v-if" => "changed", "@click" => "submit_basket"
      %th
        {{(total_price()/ 1.24).toFixed(2)}}
