= form_for(@purchase, :html => { :class => "form-horizontal" }) do |f|
  - if @purchase.errors.any?
    #error_explanation
      %h2
        = pluralize(@purchase.errors.count, "error")
        prohibited this purchase from being saved:
      %ul
        - @purchase.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.text_field :name
  .control-group
    = f.text_field :ordered_on, :class => "datepicker"
  .control-group
    = f.text_field :received_on, :class => "datepicker"
  .control-group
    = f.label :basket, t(:basket), :class => "control-label"
    .controls
      = f.collection_select :basket_id, Basket.all, :id, :name, :include_blank => true
  .control-group
    = f.text_field :supplier
  .form-actions
    = f.submit :class => "submit-button"
