
<%= form_for(@purchase, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
        <% @purchase.errors.full_messages.each do |msg| %><li><%= msg %></li><% end %>
      </ul>
    </div>
  <% end %>
      <div class="control-group">
      <%= f.label :name, t('app.models.purchase.bs_attributes.name', :default => 'name').capitalize, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :ordered_on, t('app.models.purchase.bs_attributes.ordered_on', :default => 'ordered_on').capitalize, :class => "control-label" %>
      <div class="controls">
        <div class="input-append">
          <input type="hidden" name="purchase[ordered_on(3i)]" id="purchase_ordered_on_3i" value="<%= begin @purchase.ordered_on.day rescue "" end %>" />
          <input type="hidden" name="purchase[ordered_on(2i)]" id="purchase_ordered_on_2i" value="<%= begin @purchase.ordered_on.mon rescue "" end %>" />
          <input type="hidden" name="purchase[ordered_on(1i)]" id="purchase_ordered_on_1i" value="<%= begin @purchase.ordered_on.year rescue "" end %>" />
          <%= f.text_field :ordered_on, :class => "dpicker" %><span class="add-on"><i class="icon-calendar"></i></span>
        </div>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :received_on, t('app.models.purchase.bs_attributes.received_on', :default => 'received_on').capitalize, :class => "control-label" %>
      <div class="controls">
        <div class="input-append">
          <input type="hidden" name="purchase[received_on(3i)]" id="purchase_received_on_3i" value="<%= begin @purchase.received_on.day rescue "" end %>" />
          <input type="hidden" name="purchase[received_on(2i)]" id="purchase_received_on_2i" value="<%= begin @purchase.received_on.mon rescue "" end %>" />
          <input type="hidden" name="purchase[received_on(1i)]" id="purchase_received_on_1i" value="<%= begin @purchase.received_on.year rescue "" end %>" />
          <%= f.text_field :received_on, :class => "dpicker" %><span class="add-on"><i class="icon-calendar"></i></span>
        </div>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :bucket, t('app.models.purchase.bs_attributes.bucket', :default => 'bucket').capitalize, :class => "control-label" %>
      <div class="controls">
        <%= f.collection_select :bucket_id, Bucket.all, :id, :caption, :include_blank => true %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :supplier, t('app.models.purchase.bs_attributes.supplier', :default => 'supplier').capitalize, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :supplier %>
      </div>
    </div>
<!-- Beautiful_scaffold - AddField - Do not remove -->
  <div class="form-actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>


