%table.table.table-striped.table-condensed
  %thead
    %tr
      %th= t("order_number")
      %th= t(:name)
      %th= t(:ordered_on)
      %th= t(:quantity)
      %th= t(:total)
  %tbody
    - @orders.each do |order|
      %tr{:class => "line-#{cycle("1","2")}"}
        %td
          = link_to order.id , order
        %td
          = link_to order, class: :poppy do
            = order.name
            .overlay
              = render "baskets/small" , basket: order.basket
        %td= date(order.ordered_on)
        %td.quantity
          = order.basket.items.length
        %td
          = order.basket.total_price
