.row
  .col-md-9
    .row
      .col-md-10
        %h2= t(:purchases)
        = paginate @purchases
  .col-md-3
    = image_tag "admin/purchases.jpg" , :class => "img-responsive"
.row
  .col-md-9
    %div
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th= sort_link @q, :name
            %th= sort_link @q, :ordered_on
            %th= sort_link @q, :received_on
            %th=t  "basket"
            %th= @purchases.length.to_s + " " +  t(:purchases)
        %tbody
          - @purchases.each do |purchase|
            %tr{:class => "line-#{cycle("1","2")}"}
              %td=purchase.name
              %td=purchase.ordered_on
              %td=purchase.received_on
              %td
                - if not purchase.basket.nil? then
                  = link_to basket_path(purchase.basket) do
                    = "#{purchase.basket.items.length}  #{t(:items)} /  #{purchase.basket.total_price} €"
              %td= link_to t(:show) , purchase_path(purchase), :title => t(:show)
      .btn-toolbar
        .btn-group
          = paginate @purchases
  .col-md-3
    = search_form_for @q, :url => search_purchases_path, :html => { :class => "well well-small" }, :method => :post do |f|
      .form-group
        = f.text_field :name_cont , :placeholder =>  t(:name)
      .row
        .col-md-10
          = f.label(:ordered_on)
      .row
        .col-md-5
          = f.text_field :ordered_on_gteq , :class => "form-control datepicker"
        .col-md-5
          = f.text_field :ordered_on_lteq , :class => "form-control datepicker"
      .row
        .col-md-10
          = f.label(:received_on)
      .row
        .col-md-5
          = f.text_field :received_on_gt , :class => "form-control datepicker"
        .col-md-5
          = f.text_field :received_on_lt , :class => "form-control datepicker"
      = f.submit t(:filter), :class => "btn btn-success"
      = link_to  t(:cancel), purchases_path, :class => "btn btn-warning"
