%h2
  = t(:listing, :default => "Listing")
  = t('app.models.purchase.bs_caption_plural', :default => 'purchase')
%p
  = link_to '<i class="icon-plus"></i> '.html_safe + t(:new, :default => "New") + ' ' + t('app.models.purchase.bs_caption', :default => 'purchase'), new_purchase_path, :class => "btn"
.row-fluid
  .span9
    %div
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th
              = check_box_tag :checkall, ''
            %th{column_style("purchase", "name")}
              =sorting_header("purchase", "name", "")
            %th{column_style("purchase", "ordered_on")}
              =sorting_header("purchase", "ordered_on", "")
            %th{column_style("purchase", "received_on")}
              =sorting_header("purchase", "received_on", "")
            %th{column_style("purchase", "basket")}
              =sorting_header("purchase", "basket_id", "")
            %th{column_style("purchase", "supplier")}
              =sorting_header("purchase", "supplier", "")
            %th{:colspan => "3"}
              %label.checkbox
                = check_box_tag :checkallelt, 'all'
                = pluralize(@purchase_scope.count, "purchase")
        %tbody
          - @purchases.each do |purchase|
            %tr{:class => "line-#{cycle("1","2")}"}
              %td= check_box_tag "ids[]",purchase.id, false, :class => 'cbbatch'
              %td{column_style("purchase", "name")}
                =purchase.name
              %td{column_style("purchase", "ordered_on")}
                =purchase.ordered_on
              %td{column_style("purchase", "received_on")}
                =purchase.received_on
              %td{column_style("purchase", "basket")}
              - if not purchase.basket_id.nil? then
                = link_to purchase.basket.caption, basket_path(purchase.basket_id)
              - else
                = t(:any, :default => "Any")
              %td{column_style("purchase", "supplier")}
                =purchase.supplier
              %td= link_to '<i class="icon-search"></i>'.html_safe, purchase_path(purchase), :title => t(:show, :default => "Show")
              %td= link_to '<i class="icon-pencil"></i>'.html_safe, edit_purchase_path(purchase), :title => t(:edit)
              %td= link_to '<i class="icon-remove"></i>'.html_safe, purchase_path(purchase), :data => { :confirm => t(:are_you_sure, :default => "Are you sure?") }, :method => :delete, :title => t(:destroy, :default => "Destroy")
      .btn-toolbar
        .btn-group
          - clean_params
          = will_paginate @purchases,                            |
            :inner_window => 0,                                  |
            :outer_window => 0,                                  |
            :previous_label => t(:prev), |
            :next_label => t(:next)          |
        .btn-group.pull-right
          = link_to purchases_path(:format => :csv), :class => "btn" do
            %i.icon-download CSV 
          = link_to purchases_path(:format => :json), :class => "btn" do
            %i.icon-download JSON 
  .span3
    = search_form_for @q, :url => search_purchases_path, :html => { :class => "well well-small" }, :method => :post do |f|
      = ransack_field("purchase", "name", f, "Name")
      = ransack_field("purchase", "ordered_on", f, "Ordered_on")
      = ransack_field("purchase", "received_on", f, "Received_on")
      = ransack_field("purchase", "basket_id", f, "Basket")
      = ransack_field("purchase", "supplier_id", f, "Supplier")
      = f.submit t(:filter, :default => "Filter"), :class => "btn btn-primary"
      = link_to  t(:cancel, :default => "Cancel"), purchases_path(:nosearch => "ok"), :class => "btn"
