.row.purchase_index_start
  .col-md-9.purchases
    .row
      .col-md-10
        %h2= t(:purchases)
        = paginate @purchases
      .col-md-2
        = link_to  t(:new) + ' ' + t(:purchase) , new_purchase_path , :class => "btn btn-primary new_purchase"
  .col-md-3
    = image_tag "office_clerk/purchases.jpg" , :class => "img-responsive"
.row
  .col-md-9
    %div
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th= t(:name)
            %th= sort_link [:office,@q], :ordered_on
            %th= sort_link [:office,@q], :received_on
            %th= t(:items)
            %th= sort_link [:office,@q], :basket_total_price
            %th= @purchase_scope.length.to_s + " " +  t(:purchases)
        %tbody
          - @purchases.each do |purchase|
            %tr{:class => "line-#{cycle("1","2")}"}
              %td= purchase.name
              %td= date(purchase.ordered_on)
              %td= date(purchase.received_on)
              %td= purchase.basket.items.length
              %td= link_to euros(purchase.basket.total_price) , basket_path(purchase.basket)
              %td
                -if purchase.basket.locked?
                  = link_to t(:show) , purchase_path(purchase), :title => t(:show)
                -else
                  = link_to t(:edit) , edit_purchase_path(purchase), :title => t(:edit)
      .btn-toolbar
        .btn-group
          = paginate @purchases
  .col-md-3
    = search_form_for @q, :html => { :class => "form-horizontal" }, :method => :get do |f|
      .form-group
        = f.text_field :name_cont , :class => "form-control" , :placeholder =>  t(:name)
      .row
        .col-md-10
          = f.label(:ordered_on)
      .row
        .col-md-5
          = f.text_field :ordered_on_gteq , :class => "form-control datepicker"
        .col-md-5
          = f.text_field :ordered_on_lteq , :class => "form-control datepicker"
      .row
        .col-md-10
          = f.label(:received_on)
      .row
        .col-md-5
          = f.text_field :received_on_gt , :class => "form-control datepicker"
        .col-md-5
          = f.text_field :received_on_lt , :class => "form-control datepicker"
      %br
      = f.submit t(:filter),  :id => :filter , :class => "btn btn-success"
      = link_to  t(:cancel), purchases_path, :class => "btn btn-warning"
.purchase_index_end
