.row.purchase_show_start
  .col-md-6
    %h2
      = t(:purchase)
    %p
      %b= t(:name)
      = in_place @purchase , :name
  .col-md-5
    - @purchase.basket.suppliers.each do |s|
      = link_to( t(:new) + " : " + s.supplier_name , new_purchase_path(supplier: s.id) ,:class => "btn btn-primary purchase_link")
  .col-md-1
    -unless @purchase.received_on
      = link_to t(:inventory) , inventory_purchase_path(@purchase) , :class => "btn btn-primary btn-danger inventory_link", :data => { :confirm => t(:are_you_sure) }

.row
  .col-md-3
    %p
      %b
        = t(:ordered_on) + " : "
        -if @purchase.ordered_on
          = date(@purchase.ordered_on)
        -else
          = link_to t(:order) , order_purchase_path(@purchase) , :class => "btn btn-primary order_link"
  .col-md-3
    %p
      %b
        = t(:received_on) + " : "
        -if @purchase.received_on
          = date(@purchase.received_on)
        -else
          = link_to t(:receive) , receive_purchase_path(@purchase) , :class => "btn btn-primary receive_link"
  .col-md-6
    %p
      %b
        = t(:suppliers) + " : "
      - @purchase.basket.suppliers.each do |s|
        = link_to( s.supplier_name , supplier_path(s))

= render "baskets/small" , :basket => @purchase.basket

.row
  .col-md-5
    %br
    = link_to t(:edit), edit_basket_path(@purchase.basket), :class => "btn btn-info edit_basket" unless @purchase.basket.locked?
    = link_to t(:back), purchases_path, :class => "btn btn-warning"
    = link_to "Print Invoice" , "/purchases/#{@purchase.id}/invoice" , class: "btn btn-primary"


.purchase_show_end
  Vue tässä
  %br
  {{ basket.items }}
:javascript
  new Vue({
    el: '.purchase_show_end',
    data: {
      purchase: #{@purchase.to_json(include: :supplier)},
      basket: #{@purchase.basket.to_json(include: :items)},
      products: #{@products.to_json}
    }
  })
