<h2><%= t(:show, :default => "Show") %> <%= t('app.models.purchase.bs_caption', :default => 'Purchase') %></h2>

  <p>
    <b><%= t('app.models.purchase.bs_attributes.name', :default => 'name') %>:</b>
      <%= @Purchase.name %>
  </p>
  <p>
    <b><%= t('app.models.purchase.bs_attributes.ordered_on', :default => 'ordered_on') %>:</b>
      <%= @Purchase.ordered_on %>
  </p>
  <p>
    <b><%= t('app.models.purchase.bs_attributes.received_on', :default => 'received_on') %>:</b>
      <%= @Purchase.received_on %>
  </p>
  <p>
    <b><%= t('app.models.purchase.bs_attributes.bucket', :default => 'bucket') %>:</b>
      <%= @Purchase.bucket %>
  </p>
  <p>
    <b><%= t('app.models.purchase.bs_attributes.supplier', :default => 'supplier') %>:</b>
      <%= @Purchase.supplier %>
  </p>

<!-- Beautiful_scaffold - AddField - Field - Do not remove -->

<%= link_to t(:edit, :default => "Edit"), edit_purchase_path(@Purchase), :class => "btn" %>
<%= link_to t(:back, :default => "Back"), purchases_path, :class => "btn" %>

