%h2
  = t(:show, :default => "Show")
  = t('app.models.purchase.bs_caption', :default => 'purchase')
%p
  %b
    = t('app.models.purchase.bs_attributes.name', :default => 'name') + ":"
  = @purchase.name
%p
  %b
    = t('app.models.purchase.bs_attributes.ordered_on', :default => 'ordered_on') + ":"
  = @purchase.ordered_on
%p
  %b
    = t('app.models.purchase.bs_attributes.received_on', :default => 'received_on') + ":"
  = @purchase.received_on
%p
  %b
    = t('app.models.purchase.bs_attributes.bucket', :default => 'bucket') + ":"
  = (@purchase.bucket.nil? ? "" : @purchase.bucket.caption)
%p
  %b
    = t('app.models.purchase.bs_attributes.supplier', :default => 'supplier') + ":"
  = @purchase.supplier
= link_to t(:edit, :default => "Edit"), edit_purchase_path(@purchase), :class => "btn"
= link_to t(:back, :default => "Back"), purchases_path, :class => "btn"
