%h2
  = t(:show)
  = t(:purchase)
%p
  %b
    = t(:name) + ":" + @purchase.name.to_s
%p
  %b
    -if @purchase.ordered_on
      = t(:ordered_on) + " : " + @purchase.ordered_on.to_s
    -else
      = link_to t(:order) , order_purchase_path(@purchase) , :class => "admin-button"
%p
  %b
    -if @purchase.received_on
      = t(:received) + " : " + @purchase.received_on.to_s
    -else
      = link_to t(:receive) , receive_purchase_path(@purchase) , :class => "admin-button"
      = link_to t(:inventory) , inventory_purchase_path(@purchase) , :class => "admin-button"

= render "baskets/small" , :basket => @purchase.basket  

%p
  %b
    = t(:suppliers) + ":"
  = @purchase.basket.suppliers.collect {|s| s.name }.join
= link_to t(:back), purchases_path, :class => "admin-button"
