%h2
  = t(:show)
  = t(:purchase)
%p
  %b
    = t(:name) + " : " + @purchase.name.to_s
%p
  %b
    -if @purchase.ordered_on
      = t(:ordered_on) + " : " + date(@purchase.ordered_on)
    -else
      = link_to t(:order) , order_purchase_path(@purchase) , :class => "btn btn-primary order_link"
%p
  %b
    -if @purchase.received_on
      = t(:received) + " : " + date(@purchase.received_on)
    -else
      = link_to t(:receive) , receive_purchase_path(@purchase) , :class => "btn btn-primary receive_link"

= render "baskets/small" , :basket => @purchase.basket

%p
  %b
    = t(:suppliers) + " : "
  = @purchase.basket.suppliers.collect {|s| s.name }.join
= link_to t(:back), purchases_path, :class => "btn btn-warning"

-unless @purchase.received_on
  %h3{"style" => "color:red"}
    = t(:inventory)
    = link_to t(:inventory) , inventory_purchase_path(@purchase) , :class => "btn btn-primary inventory_link"
 