= form_for(@order, :html => { :class => "form-horizontal" }) do |f|
  - if @order.errors.any?
    #error_explanation
      %h2
        = pluralize(@order.errors.count, "error")
        prohibited this order from being saved:
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg
  .controls
    = f.text_field :ordered_on, :class => "datepicker"
  .controls
    = f.text_field :shipping_price
  .controls
    = f.text_field :shipping_tax
  .controls
    = f.text_field :basket_id
  .controls
    = f.text_field :email
  .controls
    = f.text_field :paid_on, :class => "datepicker"
  .controls
    = f.text_field :shipped_on, :class => "datepicker"
  .controls
    = f.text_field :paid_on, :class => "datepicker"
  .controls
    = f.text_field :canceled_on, :class => "datepicker"
  .controls
    = f.text_field :shipment_type
  .form-actions
    = f.submit :class => "submit-button"
