
<%= form_for(@order, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% @order.errors.full_messages.each do |msg| %><li><%= msg %></li><% end %>
      </ul>
    </div>
  <% end %>
      <div class="control-group">
      <%= f.label :ordered_on, t('app.models.order.bs_attributes.ordered_on', :default => 'ordered_on').capitalize, :class => "control-label" %>
      <div class="controls">
        <div class="input-append">
          <input type="hidden" name="order[ordered_on(3i)]" id="order_ordered_on_3i" value="<%= begin @order.ordered_on.day rescue "" end %>" />
          <input type="hidden" name="order[ordered_on(2i)]" id="order_ordered_on_2i" value="<%= begin @order.ordered_on.mon rescue "" end %>" />
          <input type="hidden" name="order[ordered_on(1i)]" id="order_ordered_on_1i" value="<%= begin @order.ordered_on.year rescue "" end %>" />
          <%= f.text_field :ordered_on, :class => "dpicker" %><span class="add-on"><i class="icon-calendar"></i></span>
        </div>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :total_price, t('app.models.order.bs_attributes.total_price', :default => 'total_price').capitalize, :class => "control-label" %>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on">$</span><%= f.text_field :total_price %>
        </div>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :total_tax, t('app.models.order.bs_attributes.total_tax', :default => 'total_tax').capitalize, :class => "control-label" %>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on">$</span><%= f.text_field :total_tax %>
        </div>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :shipping_price, t('app.models.order.bs_attributes.shipping_price', :default => 'shipping_price').capitalize, :class => "control-label" %>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on">$</span><%= f.text_field :shipping_price %>
        </div>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :shipping_tax, t('app.models.order.bs_attributes.shipping_tax', :default => 'shipping_tax').capitalize, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :shipping_tax %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :bucket, t('app.models.order.bs_attributes.bucket', :default => 'bucket').capitalize, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :bucket %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :email, t('app.models.order.bs_attributes.email', :default => 'email').capitalize, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :email %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :paid_on, t('app.models.order.bs_attributes.paid_on', :default => 'paid_on').capitalize, :class => "control-label" %>
      <div class="controls">
        <div class="input-append">
          <input type="hidden" name="order[paid_on(3i)]" id="order_paid_on_3i" value="<%= begin @order.paid_on.day rescue "" end %>" />
          <input type="hidden" name="order[paid_on(2i)]" id="order_paid_on_2i" value="<%= begin @order.paid_on.mon rescue "" end %>" />
          <input type="hidden" name="order[paid_on(1i)]" id="order_paid_on_1i" value="<%= begin @order.paid_on.year rescue "" end %>" />
          <%= f.text_field :paid_on, :class => "dpicker" %><span class="add-on"><i class="icon-calendar"></i></span>
        </div>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :shipped_on, t('app.models.order.bs_attributes.shipped_on', :default => 'shipped_on').capitalize, :class => "control-label" %>
      <div class="controls">
        <div class="input-append">
          <input type="hidden" name="order[shipped_on(3i)]" id="order_shipped_on_3i" value="<%= begin @order.shipped_on.day rescue "" end %>" />
          <input type="hidden" name="order[shipped_on(2i)]" id="order_shipped_on_2i" value="<%= begin @order.shipped_on.mon rescue "" end %>" />
          <input type="hidden" name="order[shipped_on(1i)]" id="order_shipped_on_1i" value="<%= begin @order.shipped_on.year rescue "" end %>" />
          <%= f.text_field :shipped_on, :class => "dpicker" %><span class="add-on"><i class="icon-calendar"></i></span>
        </div>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :paid_on, t('app.models.order.bs_attributes.paid_on', :default => 'paid_on').capitalize, :class => "control-label" %>
      <div class="controls">
        <div class="input-append">
          <input type="hidden" name="order[paid_on(3i)]" id="order_paid_on_3i" value="<%= begin @order.paid_on.day rescue "" end %>" />
          <input type="hidden" name="order[paid_on(2i)]" id="order_paid_on_2i" value="<%= begin @order.paid_on.mon rescue "" end %>" />
          <input type="hidden" name="order[paid_on(1i)]" id="order_paid_on_1i" value="<%= begin @order.paid_on.year rescue "" end %>" />
          <%= f.text_field :paid_on, :class => "dpicker" %><span class="add-on"><i class="icon-calendar"></i></span>
        </div>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :canceled_on, t('app.models.order.bs_attributes.canceled_on', :default => 'canceled_on').capitalize, :class => "control-label" %>
      <div class="controls">
        <div class="input-append">
          <input type="hidden" name="order[canceled_on(3i)]" id="order_canceled_on_3i" value="<%= begin @order.canceled_on.day rescue "" end %>" />
          <input type="hidden" name="order[canceled_on(2i)]" id="order_canceled_on_2i" value="<%= begin @order.canceled_on.mon rescue "" end %>" />
          <input type="hidden" name="order[canceled_on(1i)]" id="order_canceled_on_1i" value="<%= begin @order.canceled_on.year rescue "" end %>" />
          <%= f.text_field :canceled_on, :class => "dpicker" %><span class="add-on"><i class="icon-calendar"></i></span>
        </div>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :shipment_type, t('app.models.order.bs_attributes.shipment_type', :default => 'shipment_type').capitalize, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :shipment_type %>
      </div>
    </div>
<!-- Beautiful_scaffold - AddField - Do not remove -->
  <div class="form-actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>


