%h2
  = t(:orders)
%p
  = link_to new_order_path , :class => "btn" do
    %i.icon-plus=  t( :new) + " " + t(:order)
.row-fluid
  .span9
    %div
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th
              = check_box_tag :checkall, ''
            %th{ column_style("order", "ordered_on") }
              = sorting_header("order", "ordered_on", "")
            %th{column_style("order", "total_price")}
              = sorting_header("order", "total_price", "")
            %th{column_style("order", "total_tax")}
              = sorting_header("order", "total_tax", "")
            %th{column_style("order", "shipping_price")}
              = sorting_header("order", "shipping_price", "")
            %th{column_style("order", "basket_id")}
              = sorting_header("order", "basket_id", "")
            %th{column_style("order", "email")}
              = sorting_header("order", "email", "")
            %th{column_style("order", "paid_on")}
              = sorting_header("order", "paid_on", "")
            %th{column_style("order", "shipped_on")}
              = sorting_header("order", "shipped_on", "")
            %th{column_style("order", "paid_on")}
              = sorting_header("order", "paid_on", "")
            %th{column_style("order", "canceled_on")}
              = sorting_header("order", "canceled_on", "")
            %th{column_style("order", "shipment_type")}
              = sorting_header("order", "shipment_type", "")
            %th{:colspan => "3"}
              %label.checkbox
                = check_box_tag :checkallelt, 'all'
                = pluralize(@order_scope.count, "order")
        %tbody
          - @orders.each do |order|
            %tr{:class => "line-#{cycle("1","2")}"}
              %td= check_box_tag "ids[]",order.id, false, :class => 'cbbatch'
              %td{column_style("order", "ordered_on")}
                = order.ordered_on
              %td{column_style("order", "total_price")} 
                = number_to_currency(order.total_price, :locale => I18n.locale)
              %td{column_style("order", "total_tax")} 
                = number_to_currency(order.total_tax, :locale => I18n.locale)
              %td{column_style("order", "shipping_price")} 
                = number_to_currency(order.shipping_price, :locale => I18n.locale)
              %td{column_style("order", "basket_id")}
                = order.basket_id
              %td{column_style("order", "email")}
                = order.email
              %td{column_style("order", "paid_on")}
                = order.paid_on
              %td{column_style("order", "shipped_on")}
                = order.shipped_on
              %td{column_style("order", "paid_on")}
                = order.paid_on
              %td{column_style("order", "canceled_on")}
                = order.canceled_on
              %td{column_style("order", "shipment_type")}
                = order.shipment_type
              %td= link_to '<i class="icon-search"></i>'.html_safe, order_path(order), :title => t(:show, :default => "Show")
              %td= link_to '<i class="icon-pencil"></i>'.html_safe, edit_order_path(order), :title => t(:edit, :default => "Edit")
              %td= link_to '<i class="icon-remove"></i>'.html_safe, order_path(order), :data => { :confirm => t(:are_you_sure, :default => "Are you sure?") }, :method => :delete, :title => t(:destroy, :default => "Destroy")
      .btn-toolbar
        .btn-group
          - clean_params
          = will_paginate @orders,                               |
            :inner_window => 0,                                  |
            :outer_window => 0,                                  |
            :previous_label => t(:prev), |
            :next_label => t(:next)          |
        .btn-group.pull-right
          = link_to orders_path(:format => :csv), :class => "btn" do
            %i.icon-download CSV 
          = link_to orders_path(:format => :json), :class => "btn" do
            %i.icon-download JSON 
  .span3
    = search_form_for @q, :url => search_orders_path, :html => { :class => "well well-small" }, :method => :post do |f|
      = ransack_field("order", "ordered_on", f, "Ordered_on")
      = ransack_field("order", "total_price", f, "Total_price")
      = ransack_field("order", "total_tax", f, "Total_tax")
      = ransack_field("order", "shipping_price", f, "Shipping_price")
      = ransack_field("order", "shipping_tax", f, "Shipping_tax")
      = ransack_field("order", "basket_id", f, "Basket")
      = ransack_field("order", "email", f, "Email")
      = ransack_field("order", "paid_on", f, "Paid_on")
      = ransack_field("order", "shipped_on", f, "Shipped_on")
      = ransack_field("order", "paid_on", f, "Paid_on")
      = ransack_field("order", "canceled_on", f, "Canceled_on")
      = ransack_field("order", "shipment_type", f, "Shipment_type")
      = ransack_field("order", "id", f, "Id")
      = f.submit t(:filter, :default => "Filter"), :class => "btn btn-primary"
      = link_to  t(:cancel, :default => "Cancel"), orders_path(:nosearch => "ok"), :class => "btn"
