%h2
  = t(:listing, :default => "Listing")
  = t('app.models.order.bs_caption_plural', :default => 'order')
%p
  = link_to '<i class="icon-plus"></i> '.html_safe + t(:new, :default => "New") + ' ' + t('app.models.order.bs_caption', :default => 'order'), new_order_path, :class => "btn"
  - if Order.columns.map(&:name).include?("order_id") then
    = link_to '<i class="icon-folder-close"></i> '.html_safe + t(:treeview, :default => "Treeview") + ' ' + t('app.models.order.bs_caption', :default => 'order'), treeview_orders_path, :class => "btn"
- scopes = []
- if not scopes.blank? then
  .btn-toolbar
    .btn-group
      = link_to "All (#{@order_scope_for_scope.count})", orders_path(:scope => ""), :class => "btn #{((session[:scope][:order].to_s == '') ? 'active' : '')}"
      - for scope in scopes
        = link_to "#{scope} (#{@order_scope_for_scope.send(scope).count})", orders_path(:scope => scope), :class => "btn #{((session[:scope][:order].to_s == scope) ? 'active' : '')}"
.row-fluid
  .span9
    = form_tag  batch_orders_path, :class => "form-inline" do
      .well.well-small
        %label.control-label{:for => "select01"}= t(:batch, :default => "Batch")
        %select#select01{:name => "actionprocess"}
          %option{:value => "destroy"}= t(:destroy, :default => "Destroy")
          / Beautiful_scaffold - AddField - Batch - Do not remove
        %button.btn{:type => "submit"}
          %i.icon-ok
          = t(:process, :default => "Process")
      = render :partial => "layouts/modal_columns", :locals => { :model_name => "order", :model_columns => ['ordered_on','total_price','total_tax','shipping_price','shipping_tax','bucket','email','paid_on','shipped_on','paid_on','canceled_on','shipment_type','created_at','updated_at'] }
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th
              %a{"data-toggle" => "modal", :href => "#modal-columns", :title => t(:select_columns, :default => "Select Columns")}
                %i.icon-th-list
            %th
              = check_box_tag :checkall, ''
            <th #{visible_column("order", "ordered_on")} class="col-ordered_on">
            \#{sorting_header("order", "ordered_on", "")}
            <th #{visible_column("order", "total_price")} class="col-total_price">
            \#{sorting_header("order", "total_price", "")}
            <th #{visible_column("order", "total_tax")} class="col-total_tax">
            \#{sorting_header("order", "total_tax", "")}
            <th #{visible_column("order", "shipping_price")} class="col-shipping_price">
            \#{sorting_header("order", "shipping_price", "")}
            <th #{visible_column("order", "shipping_tax")} class="col-shipping_tax">
            \#{sorting_header("order", "shipping_tax", "")}
            <th #{visible_column("order", "bucket")} class="col-bucket">
            \#{sorting_header("order", "bucket", "")}
            <th #{visible_column("order", "email")} class="col-email">
            \#{sorting_header("order", "email", "")}
            <th #{visible_column("order", "paid_on")} class="col-paid_on">
            \#{sorting_header("order", "paid_on", "")}
            <th #{visible_column("order", "shipped_on")} class="col-shipped_on">
            \#{sorting_header("order", "shipped_on", "")}
            <th #{visible_column("order", "paid_on")} class="col-paid_on">
            \#{sorting_header("order", "paid_on", "")}
            <th #{visible_column("order", "canceled_on")} class="col-canceled_on">
            \#{sorting_header("order", "canceled_on", "")}
            <th #{visible_column("order", "shipment_type")} class="col-shipment_type">
            \#{sorting_header("order", "shipment_type", "")}
            / Beautiful_scaffold - AddField - Header - Do not remove
            <th #{visible_column("order", "created_at")} class="col-created_at">
            \#{sorting_header("order", "created_at", "")}
            <th #{visible_column("order", "updated_at")} class="col-updated_at">
            \#{sorting_header("order", "updated_at", "")}
            %th{:colspan => "3"}
              %label.checkbox
                = check_box_tag :checkallelt, 'all'
                = pluralize(@order_scope.count, "order")
        %tbody
          - @orders.each do |order|
            %tr{:class => "line-#{cycle("1","2")}"}
              %td= order.id
              %td= check_box_tag "ids[]",order.id, false, :class => 'cbbatch'
              <td #{visible_column("order", "ordered_on")} class="col-ordered_on #{align_attribute("date")}">
              \#{order.ordered_on}
              <td #{visible_column("order", "total_price")} class="col-total_price #{align_attribute("price")}">
              \#{number_to_currency(order.total_price, :locale => I18n.locale)}
              <td #{visible_column("order", "total_tax")} class="col-total_tax #{align_attribute("price")}">
              \#{number_to_currency(order.total_tax, :locale => I18n.locale)}
              <td #{visible_column("order", "shipping_price")} class="col-shipping_price #{align_attribute("price")}">
              \#{number_to_currency(order.shipping_price, :locale => I18n.locale)}
              <td #{visible_column("order", "shipping_tax")} class="col-shipping_tax #{align_attribute("float")}">
              \#{order.shipping_tax}
              <td #{visible_column("order", "bucket")} class="col-bucket #{align_attribute("reference")}">
              \#{order.bucket}
              <td #{visible_column("order", "email")} class="col-email #{align_attribute("string")}">
              \#{order.email}
              <td #{visible_column("order", "paid_on")} class="col-paid_on #{align_attribute("date")}">
              \#{order.paid_on}
              <td #{visible_column("order", "shipped_on")} class="col-shipped_on #{align_attribute("date")}">
              \#{order.shipped_on}
              <td #{visible_column("order", "paid_on")} class="col-paid_on #{align_attribute("date")}">
              \#{order.paid_on}
              <td #{visible_column("order", "canceled_on")} class="col-canceled_on #{align_attribute("date")}">
              \#{order.canceled_on}
              <td #{visible_column("order", "shipment_type")} class="col-shipment_type #{align_attribute("string")}">
              \#{order.shipment_type}
              / Beautiful_scaffold - AddField - Column - Do not remove
              <td #{visible_column("order", "created_at")} class="col-created_at #{align_attribute("datetime")}">
              \#{l(order.created_at, :format => :long)}
              <td #{visible_column("order", "updated_at")} class="col-updated_at #{align_attribute("datetime")}">
              \#{l(order.updated_at, :format => :long)}
              %td= link_to '<i class="icon-search"></i>'.html_safe, order_path(order), :title => t(:show, :default => "Show")
              %td= link_to '<i class="icon-pencil"></i>'.html_safe, edit_order_path(order), :title => t(:edit, :default => "Edit")
              %td= link_to '<i class="icon-remove"></i>'.html_safe, order_path(order), :data => { :confirm => t(:are_you_sure, :default => "Are you sure?") }, :method => :delete, :title => t(:destroy, :default => "Destroy")
      .btn-toolbar
        .btn-group
          - clean_params
          = will_paginate @orders,                               |
            :inner_window => 0,                                  |
            :outer_window => 0,                                  |
            :previous_label => t(:prev, :default => "Previous"), |
            :next_label => t(:next, :default => "Next")          |
        .btn-group.pull-right
          = link_to '<i class="icon-download"></i> CSV'.html_safe,  orders_path(:format => :csv), :class => "btn"
          = link_to '<i class="icon-download"></i> XML'.html_safe,  orders_path(:format => :xml), :class => "btn"
          = link_to '<i class="icon-download"></i> JSON'.html_safe, orders_path(:format => :json), :class => "btn"
          = link_to '<i class="icon-download"></i> PDF'.html_safe,  orders_path(:format => :pdf), :class => "btn"
  .span3
    = search_form_for @q, :url => search_orders_path, :html => { :class => "well well-small" }, :method => :post do |f|
      = ransack_field("order", "ordered_on", f, "Ordered_on")
      = ransack_field("order", "total_price", f, "Total_price")
      = ransack_field("order", "total_tax", f, "Total_tax")
      = ransack_field("order", "shipping_price", f, "Shipping_price")
      = ransack_field("order", "shipping_tax", f, "Shipping_tax")
      = ransack_field("order", "bucket", f, "Bucket")
      = ransack_field("order", "email", f, "Email")
      = ransack_field("order", "paid_on", f, "Paid_on")
      = ransack_field("order", "shipped_on", f, "Shipped_on")
      = ransack_field("order", "paid_on", f, "Paid_on")
      = ransack_field("order", "canceled_on", f, "Canceled_on")
      = ransack_field("order", "shipment_type", f, "Shipment_type")
      = ransack_field("order", "created_at", f, "Created At")
      = ransack_field("order", "updated_at", f, "Updated At")
      = ransack_field("order", "id", f, "Id")
      / Beautiful_scaffold - AddField - Search - Do not remove
      = f.submit t(:filter, :default => "Filter"), :class => "btn btn-primary"
      = link_to  t(:cancel, :default => "Cancel"), orders_path(:nosearch => "ok"), :class => "btn"
