%h2
  = t(:show)
  = t(:order)
%p
  %b
    = t(:ordered_on) + ":" + @order.ordered_on
%p
  %b
    = t(:total_price) + ":" +  number_to_currency(@order.basket.total_price)
%p
  %b
    = t(:total_tax) + ":" + number_to_currency(@order.basket.total_tax)
%p
  %b
    = t(:shipping_price) + ":" + number_to_currency(@order.shipping_price)
%p
  %b
    = t(:shipping_tax) + ":" + @order.shipping_tax
%p
  %b
    = link_to t(:basket) , basket_path(@order.basket)
%p
  %b
    = t(:email) + ":" + @order.email
%p
  %b
    = t(:paid_on) + ":" + @order.paid_on
%p
  %b
    = t(:shipped_on) + ":" + @order.shipped_on
%p
  %b
    = t(:paid_on) + ":" + @order.paid_on
%p
  %b
    = t(:canceled_on) + ":" + @order.canceled_on
%p
  %b
    = t(:shipment_type) + ":" + @order.shipment_type
= link_to t(:edit), edit_order_path(@order), :class => "btn"
= link_to t(:back), orders_path, :class => "btn"
