%h2
  = t(:order)
.medium-4.columns
  %p
    %b
      = t(:ordered_on) + " : " + @order.ordered_on.to_s
  %p
    %b
      = t(:total_price) + " : " +  euros(@order.basket.total_price)
  %p
    %b
      = t(:total_tax) + " : " + euros(@order.basket.total_tax)
  %p
    %b
      = t(:shipping_price) + " : " + euros(@order.shipping_price)
  %p
    %b
      = t(:email) + " : " + @order.email.to_s
.medium-4.columns
  %p
    %b
      = t(:paid_on) + " : " + @order.paid_on.to_s
  %p
    %b
      = t(:shipped_on) + " : " + @order.shipped_on.to_s
  %p
    %b
      = t(:canceled_on) + " : " + @order.canceled_on.to_s
  %p
    %b
      = t(:shipment_type) + " : " + @order.shipment_type.to_s

= render "baskets/small" , :basket => @order.basket

.medium-12.columns
  = link_to t(:back), orders_path, :class => "admin-button"
  = link_to t(:print), print_order_path(@order), :class => "admin-button"
  = link_to t(:destroy) , order_path(@order), :data => { :confirm => t(:are_you_sure) }, :method => :delete, :title => t(:destroy) , :class => "admin-button warning"
