%h2
  = t(:order)
.medium-4.columns
  %p
    %b
      = t(:ordered_on) + ":" + @order.ordered_on
  %p
    %b
      = t(:total_price) + ":" +  euros(@order.basket.total_price)
  %p
    %b
      = t(:total_tax) + ":" + euros(@order.basket.total_tax)
  %p
    %b
      = t(:shipping_price) + ":" + euros(@order.shipping_price)
  %p
    %b
      = t(:shipping_tax) + ":" + @order.shipping_tax.to_s
  %p
    %b
      = t(:email) + ":" + @order.email
.medium-4.columns
  %p
    %b
      = t(:paid_on) + ":" + @order.paid_on
  %p
    %b
      = t(:shipped_on) + ":" + @order.shipped_on
  %p
    %b
      = t(:paid_on) + ":" + @order.paid_on
  %p
    %b
      = t(:canceled_on) + ":" + @order.canceled_on
  %p
    %b
      = t(:shipment_type) + ":" + @order.shipment_type
.medium-10.columns
  %table.table.table-striped.table-bordered.table-condensed
    %thead
      %tr
        %th= t(:picture)
        %th= t(:name)
        %th= t(:quantity)
        %th= t(:price)
    %tbody
      - @order.basket.items.each do |item|
        %tr{:class => "line-#{cycle("1","2")}"}
          %td= image_tag item.product.main_picture.url if item.product
          %td= item.product.name if item.product
          %td= item.quantity
          %td= euros item.price
      %tr
        %td{:colspan => 2}
          %b
            = link_to t(:basket) , basket_path(@order.basket) , :class => "admin-button"
        %td 
          = t(:tax)
          = @order.basket.total_tax
        %td 
          = t(:total)
          = euros @order.basket.total_price
  
  
.medium-12.columns
  = link_to t(:edit), edit_order_path(@order), :class => "admin-button"
  = link_to t(:back), orders_path, :class => "admin-button"
  = link_to t(:destroy) , order_path(@order), :data => { :confirm => t(:are_you_sure) }, :method => :delete, :title => t(:destroy) , :class => "admin-button"
