%h2
  = t(:order) + " : " + @order.number.to_s
.col-md-4
  %p
    %b
      = t(:ordered_on) + " : " + date(@order.ordered_on)
  %p
    %b
      = t(:total_price) + " : " +  euros(@order.basket.total_price)
  %p
    %b
      = t(:total_tax) + " : " + euros(@order.basket.total_tax)
  %p
    %b
      = t(:shipment_price) + " : " + euros(@order.shipment_price)
  %p
    %b
      = t(:email) + " : " + @order.email.to_s
.col-md-4
  %p
    %b
      = t(:paid_on) + " : " + date(@order.paid_on)
  %p
    %b
      = t(:shipped_on) + " : " + date(@order.shipped_on)
  %p
    %b
      = t(:canceled_on) + " : " + date(@order.canceled_on)
  %p
    %b
      = t(:shipment_type) + " : " + @order.shipment_type.to_s

= render "baskets/small" , :basket => @order.basket

.col-md-12{"data-no-turbolink" => true}
  = link_to t(:back), orders_path, :class => "btn btn-warning"
  - print_styles.each do |style|
    = link_to t("print_" + style) , print_path(style), :class => "btn btn-primary" ,  :target => "_blank"
