%h2
  = t(:treeview, :default => 'Treeview')
  = t('app.models.order.bs_caption', :default => 'order')
- namespace_for_url = ""
- plural_model_name = "orders"
- model_name        = "order"
- opened_node       = Order.select(:id).all.map{ |g| "'treeelt_" + g.id.to_s + "'" }.join(',').html_safe
#treeview{"data-model" => model_name, "data-opened" => "[#{opened_node}]", "data-url" => "/#{namespace_for_url}#{plural_model_name}/"}
  %ul
    - Order.transaction do
      - ar = Order.where(:order_id => nil)
      - ar = ar.order("position") if Order.column_names.include?("position")
      - for g in ar.all
        = build_treeview(g, 'orders')
