.tripple
  %h2 About me
  %p After studying physics i programmed prefessionally for about 10 years.
  %p Then i moved to the country and started a new life.
  %p Later i came back to coding semi professional, and even later (now), just for fun
  %p
    = ext_link "https://github.com/rubydesign" do
      =image_tag "torsten.jpg" , class: :mini
    %br
    PS: The picture is supposed to be fun: I rarely wear sun glasses and never smirk
    like that. Just a moment in India :-)
.tripple
  %h2 Love
  %p
    I met the love of my life 24.04.2004 and we got married 07.07.2007.
    Almost daily i am reminded how miraculous being loved and being able to love
    actually is. No wonder there are so many songs along the line "love is all you need".
  %p
    Raisa is just about the most wonderful opposite of me, being a dance teacher, clown,
    dj and general force of life.
  %p
    = ext_link "http://tanssitemppeli.fi" do
      =image_tag "raisa.jpg" , class: :mini
.tripple
  %h2 Home
  %p
    We bought an old school and remodelled it into a beautiful B&B called Villa Taika.
    The name means something like natural wonder, and mostly through Raisa's keen eye
    (who knew women actually have more color receptors), many enjoy it a small holiday to
    asia, without leaving the country. Off season we rent to coourses too.
  %p
    Remodelling our home is what got me into (wood) building, and working with wood.
  %p
    = ext_link "http://villataika.fi/" do
      =image_tag "villataika.jpg" , class: :mini
.tripple
  %h2 Work
  %p
    Having enjoyed woodworking as a hobby, i took up building part time after
    VillaTaika was done.
  %p
    Soon after i met Dave from England who introduced me to Timber framing
    and we did that together for many years.
  %p
    Now we have started a company to build houses that have a timber frame
    at it's core, and are very ecological.
  %p
    = ext_link "https://ecoframe.house/en/homes" do
      =image_tag "eco_house.jpg" , class: :mini
.tripple
  %h2 Fun
  %p
    I surprised myself by actually starting to enjoy coding, once i had got out
    of the office (not a happy place).
  %p
    And having witnessed the rise and oh so sad fall of ruby, i am now doing
    something to restore developers faith in dynamic oo, namely writing
    a to binary compliler for ruby, called
    =link_to "ruby-x" , "http://ruby-x.org"
  %p
    Before that i had learned rails and built a POS and online system for our
    ,now closed, shop. It's still
    = ext_link "there" , "https://github.com/rubyclerks"
    and still used -)
  %p
    = ext_link "http://ruby-x.org" do
      =image_tag "rubyx.png" , class: :mini
.tripple
  %h2 Musings
  %p
    I have started to write, finally. Not that that will neccessary interest anyone else,
    but i want to give some shape to the stuff that is currently just floating around
    my head.
  %p
    It has now been over thirty adult years, a good twenty after meeting my master,
    over 15 after finding the love of my life. The resulting experience is, i think,
    unique enough to be aired. But maybe more than that i want to polish it
    for myself. A work in progress in other words, that can be followed and commented on
    on medium.

  %p=post_link(Post.posts.values[0])
  %p=post_link(Post.posts.values[1])
  %p=post_link(Post.posts.values[2])
