.row
  .quad
    %h2 About me
    %p After studying physics i programmed prefessionally for about 10 years.
    %p Then i moved to the country and started a new life.
    %p Later i came back to coding semi professional, and even later (now), just for fun
    %p
      = ext_link "https://github.com/rubydesign" do
        =image_tag "torsten.jpeg" , class: :mini
      PS: The picture is supposed to be fun: I rarely wear sun glasses and never smirk
      like that. Just a moment in India :-)
  .quad
    %h2 Love
    %p I met the love of my life 24.04.2004 and we got married 07.07.2007.
    %p
      We bought an old school and remodelled it into a beautiful B&B and
      course centre from an old school, which got me into building.
    %p
      = ext_link "http://tanssitemppeli.fi" do
        =image_tag "raisa.jpg" , class: :mini
      = ext_link "http://villataika.fi/" do
        =image_tag "villataika.jpg" , class: :mini
  .quad
    %h2 Work
    %p
      Having enjoyed woodworking as a hobby, i too up building part imte after
      VillaTaika was done.
    %p
      Soon after i met Dave from England who introduced me to Timber framing
      and we did that together for many years.
    %p
      Now we have started a company to build houses that have a timber frame
      at it's core, and are very ecological.
      = ext_link "http://www.ruukinrakennuspalvelu.fi/" do
        =image_tag "oak_frame.jpg" , class: :mini
      = ext_link "https://ecoframe.house/en/homes" do
        =image_tag "eco_house.jpg" , class: :mini
  .quad
    %h2 Fun
    %p
      I surprised myself by actually starting to enjoy coding, once i had got out
      of the office (not a happy place).
    %p
      And having witnessed the rise and oh so sad fall of ruby, i am now doing
      something to restore developers faith in dynamic oo, namely writing
      a to binary compliler for ruby, called
      =link_to "ruby-x" , "http://ruby-x.org"
    %p
      Before i had learned rails and built a POS and online system for our
      ,now closed, shop. It's still there and still used -)
    %p
      = ext_link "http://ruby-x.org" do
        =image_tag "rubyx.png" , class: :mini
      = ext_link "https://github.com/rubyclerks" do
        =image_tag "ruby_clerks.jpeg" , class: :mini
