= form_for(@bucket, :html => { :class => "form-horizontal" }) do |f|
  - if @bucket.errors.any?
    #error_explanation
      %h2
        = pluralize(@bucket.errors.count, "error")
        prohibited this bucket from being saved:
      %ul
        - @bucket.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.label :string, t('app.models.bucket.bs_attributes.string', :default => 'string').capitalize, :class => "control-label"
    .controls
      = f.text_field :string
  / Beautiful_scaffold - AddField - Do not remove
  .form-actions
    = f.submit :class => "btn btn-primary"
