%h2
  = t(:show, :default => "Show")
  = t('app.models.bucket.bs_caption', :default => 'bucket')
%p
  %b
    = t('app.models.bucket.bs_attributes.string', :default => 'string')
    \:
  = @bucket.string
/ Beautiful_scaffold - AddField - Field - Do not remove
= link_to t(:edit, :default => "Edit"), edit_bucket_path(@bucket), :class => "btn"
= link_to t(:back, :default => "Back"), buckets_path, :class => "btn"
