%h2
  = t(:product_groups)
%p
  = link_to new_product_group_path , :class => "btn" do
    %i.icon-plus
      =  t( :new) + " " + t(:product_group)
  = link_to treeview_product_groups_path, :class => "btn" do
    %i.icon-folder-close
      = t(:treeview) + " " + t(:product_group)
.row-fluid
  .span9
    %div
      = render :partial => "layouts/modal_columns", :locals => { :model_name => "product_group", :model_columns => ['product_group','name','slug','picture'] }
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th
              %a{"data-toggle" => "modal", :href => "#modal-columns", :title => t(:select_columns, :default => "Select Columns")}
                %i.icon-th-list
            %th
              = check_box_tag :checkall, ''
            %th{visible_column("product_group", "product_group")}
              =sorting_header("product_group", "product_group", "")
            %th{visible_column("product_group", "name")}
              =sorting_header("product_group", "name", "")
            %th{visible_column("product_group", "slug")}
              =sorting_header("product_group", "slug", "")
            %th{visible_column("product_group", "picture")}
              =sorting_header("product_group", "picture", "")
            %th{:colspan => "3"}
              %label.checkbox
                = check_box_tag :checkallelt, 'all'
                = pluralize(@product_group_scope.count, "product_group")
        %tbody
          - @product_groups.each do |product_group|
            %tr{:class => "line-#{cycle("1","2")}"}
              %td= check_box_tag "ids[]",product_group.id, false, :class => 'cbbatch'
              %td{visible_column("product_group", "product_group_id")}
                =product_group.product_group_id
              %td{visible_column("product_group", "name")}
                =product_group.name
              %td{visible_column("product_group", "slug")}
                =product_group.slug
              %td{visible_column("product_group", "picture")}
                =product_group.picture
              %td 
                =link_to product_group_path(product_group), :title => t(:show) do 
                  %i.icon-search
              %td
                = link_to edit_product_group_path(product_group), :title => t(:edit) do
                  %i.icon-pencil
              %td
                =link_to product_group_path(product_group), :data => { :confirm => t(:are_you_sure) }, :method => :delete, :title => t(:destroy) do
                  %i.icon-remove
      .btn-toolbar
        .btn-group
          - clean_params
          = will_paginate @product_groups,                       |
            :inner_window => 0,                                  |
            :outer_window => 0,                                  |
            :previous_label => t(:prev), |
            :next_label => t(:next)          |
        .btn-group.pull-right
          = link_to product_groups_path(:format => :csv), :class => "btn" do
            %i.icon-download CSV
          = link_to product_groups_path(:format => :json), :class => "btn" do
            %i.icon-download JSON
  .span3
    = search_form_for @q, :url => search_product_groups_path, :html => { :class => "well well-small" }, :method => :post do |f|
      = ransack_field("product_group", "name", f, "Name")
      = ransack_field("product_group", "slug", f, "Slug")
      = ransack_field("product_group", "picture", f, "Picture")
      = f.submit t(:filter, :default => "Filter"), :class => "btn btn-primary"
      = link_to  t(:cancel, :default => "Cancel"), product_groups_path(:nosearch => "ok"), :class => "btn"
