<h2><%= t(:show, :default => "Show") %> <%= t('app.models.product_group.bs_caption', :default => 'product_group') %></h2>

  <p>
    <b><%= t('app.models.product_group.bs_attributes.product_group', :default => 'product_group') %>:</b>
      <%= @product_group.product_group %>
  </p>
  <p>
    <b><%= t('app.models.product_group.bs_attributes.name', :default => 'name') %>:</b>
      <%= @product_group.name %>
  </p>
  <p>
    <b><%= t('app.models.product_group.bs_attributes.slug', :default => 'slug') %>:</b>
      <%= @product_group.slug %>
  </p>
  <p>
    <b><%= t('app.models.product_group.bs_attributes.picture', :default => 'picture') %>:</b>
      <%= @product_group.picture %>
  </p>

<!-- Beautiful_scaffold - AddField - Field - Do not remove -->

<%= link_to t(:edit, :default => "Edit"), edit_product_group_path(@product_group), :class => "btn" %>
<%= link_to t(:back, :default => "Back"), product_groups_path, :class => "btn" %>

