%h2
  = t(:show)
  = t(:product_group)
%p
  %b
    = t(:product_group_id) + ":"
  = @product_group.product_group_id
%p
  %b
    = t(:name) + ":"
  = @product_group.name
%p
  %b
    = t(:slug) + ":"
  = @product_group.slug
%p
  %b
    = t(:picture) + ":"
  = @product_group.picture
= link_to t(:edit), edit_product_group_path(@product_group), :class => "btn"
= link_to t(:back), product_groups_path, :class => "btn"
