<h2><%= t(:treeview, :default => 'Treeview') %> <%= t('app.models.product_group.bs_caption', :default => 'product_group') %></h2>

<%
namespace_for_url = ""
plural_model_name = "product_groups"
model_name        = "product_group"
opened_node       = ProductGroup.select(:id).all.map{ |g| "'treeelt_" + g.id.to_s + "'" }.join(',').html_safe
%>

<div id="treeview" data-model="<%= model_name %>" data-url="/<%= namespace_for_url %><%= plural_model_name %>/" data-opened="[<%= opened_node %>]">
  <ul>
    <% ProductGroup.transaction do %>
    <% ar = ProductGroup.where(:product_group_id => nil) %>
    <% ar = ar.order("position") if ProductGroup.column_names.include?("position") %>
      <% for g in ar.all %>
        <%= build_treeview(g, 'product_groups') %>
      <% end %>
    <% end %>
  </ul>
</div>

