= form_for(@address, :html => { :class => "form-horizontal" }) do |f|
  - if @address.errors.any?
    #error_explanation
      %h2
        = pluralize(@address.errors.count, "error")
        prohibited this address from being saved:
      %ul
        - @address.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.label :first_name, t('app.models.address.bs_attributes.first_name', :default => 'first_name').capitalize, :class => "control-label"
    .controls
      = f.text_field :first_name
  .control-group
    = f.label :last_name, t('app.models.address.bs_attributes.last_name', :default => 'last_name').capitalize, :class => "control-label"
    .controls
      = f.text_field :last_name
  .control-group
    = f.label :street1, t('app.models.address.bs_attributes.street1', :default => 'street1').capitalize, :class => "control-label"
    .controls
      = f.text_field :street1
  .control-group
    = f.label :street2, t('app.models.address.bs_attributes.street2', :default => 'street2').capitalize, :class => "control-label"
    .controls
      = f.text_field :street2
  .control-group
    = f.label :postcode, t('app.models.address.bs_attributes.postcode', :default => 'postcode').capitalize, :class => "control-label"
    .controls
      = f.text_field :postcode
  .control-group
    = f.label :country, t('app.models.address.bs_attributes.country', :default => 'country').capitalize, :class => "control-label"
    .controls
      = f.text_field :country
  .form-actions
    = f.submit :class => "btn btn-primary"
