= f.simple_fields_for :address do |af|
  .control-group
    = af.label :first_name, t(:first_name), :class => "control-label"
    .controls
      = af.text_field :first_name
  .control-group
    = af.label :last_name, t(:last_name), :class => "control-label"
    .controls
      = af.text_field :last_name
  .control-group
    = af.label :street1, t(:street1), :class => "control-label"
    .controls
      = af.text_field :street1
  .control-group
    = af.label :street2, t(:street2), :class => "control-label"
    .controls
      = af.text_field :street2
  .control-group
    = af.label :city, t(:city), :class => "control-label"
    .controls
      = af.text_field :city
  .control-group
    = af.label :country, t(:country), :class => "control-label"
    .controls
      = af.text_field :country
