= form_for(@address, :html => { :class => "form-horizontal" }) do |f|
  - if @address.errors.any?
    #error_explanation
      %h2
        = pluralize(@address.errors.count, "error")
        prohibited this address from being saved:
      %ul
        - @address.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.label :first_name, t(:first_name), :class => "control-label"
    .controls
      = f.text_field :first_name
  .control-group
    = f.label :last_name, t(:last_name), :class => "control-label"
    .controls
      = f.text_field :last_name
  .control-group
    = f.label :street1, t(:street1), :class => "control-label"
    .controls
      = f.text_field :street1
  .control-group
    = f.label :street2, t(:street2), :class => "control-label"
    .controls
      = f.text_field :street2
  .control-group
    = f.label :postcode, t(:postcode), :class => "control-label"
    .controls
      = f.text_field :postcode
  .control-group
    = f.label :country, t(:country), :class => "control-label"
    .controls
      = f.text_field :country
  .form-actions
    = f.submit :class => "btn btn-primary"