%h2
  = t(:listing, :default => "Listing")
  = t('app.models.address.bs_caption_plural', :default => 'address')
%p
  = link_to '<i class="icon-plus"></i> '.html_safe + t(:new, :default => "New") + ' ' + t('app.models.address.bs_caption', :default => 'address'), new_address_path, :class => "btn"
  - if Address.columns.map(&:name).include?("address_id") then
    = link_to '<i class="icon-folder-close"></i> '.html_safe + t(:treeview, :default => "Treeview") + ' ' + t('app.models.address.bs_caption', :default => 'address'), treeview_addresses_path, :class => "btn"
- scopes = []
- if not scopes.blank? then
  .btn-toolbar
    .btn-group
      = link_to "All (#{@address_scope_for_scope.count})", addresses_path(:scope => ""), :class => "btn #{((session[:scope][:address].to_s == '') ? 'active' : '')}"
      - for scope in scopes
        = link_to "#{scope} (#{@address_scope_for_scope.send(scope).count})", addresses_path(:scope => scope), :class => "btn #{((session[:scope][:address].to_s == scope) ? 'active' : '')}"
.row-fluid
  .span9
    = form_tag  batch_addresses_path, :class => "form-inline" do
      .well.well-small
        %label.control-label{:for => "select01"}= t(:batch, :default => "Batch")
        %select#select01{:name => "actionprocess"}
          %option{:value => "destroy"}= t(:destroy, :default => "Destroy")
          / Beautiful_scaffold - AddField - Batch - Do not remove
        %button.btn{:type => "submit"}
          %i.icon-ok
          = t(:process, :default => "Process")
      = render :partial => "layouts/modal_columns", :locals => { :model_name => "address", :model_columns => ['first_name','last_name','street1','street2','postcode','country','created_at','updated_at'] }
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th
              %a{"data-toggle" => "modal", :href => "#modal-columns", :title => t(:select_columns, :default => "Select Columns")}
                %i.icon-th-list
            %th
              = check_box_tag :checkall, ''
            <th #{visible_column("address", "first_name")} class="col-first_name">
            \#{sorting_header("address", "first_name", "")}
            <th #{visible_column("address", "last_name")} class="col-last_name">
            \#{sorting_header("address", "last_name", "")}
            <th #{visible_column("address", "street1")} class="col-street1">
            \#{sorting_header("address", "street1", "")}
            <th #{visible_column("address", "street2")} class="col-street2">
            \#{sorting_header("address", "street2", "")}
            <th #{visible_column("address", "postcode")} class="col-postcode">
            \#{sorting_header("address", "postcode", "")}
            <th #{visible_column("address", "country")} class="col-country">
            \#{sorting_header("address", "country", "")}
            / Beautiful_scaffold - AddField - Header - Do not remove
            <th #{visible_column("address", "created_at")} class="col-created_at">
            \#{sorting_header("address", "created_at", "")}
            <th #{visible_column("address", "updated_at")} class="col-updated_at">
            \#{sorting_header("address", "updated_at", "")}
            %th{:colspan => "3"}
              %label.checkbox
                = check_box_tag :checkallelt, 'all'
                = pluralize(@address_scope.count, "address")
        %tbody
          - @addresses.each do |address|
            %tr{:class => "line-#{cycle("1","2")}"}
              %td= address.id
              %td= check_box_tag "ids[]",address.id, false, :class => 'cbbatch'
              <td #{visible_column("address", "first_name")} class="col-first_name #{align_attribute("string")}">
              \#{address.first_name}
              <td #{visible_column("address", "last_name")} class="col-last_name #{align_attribute("string")}">
              \#{address.last_name}
              <td #{visible_column("address", "street1")} class="col-street1 #{align_attribute("string")}">
              \#{address.street1}
              <td #{visible_column("address", "street2")} class="col-street2 #{align_attribute("string")}">
              \#{address.street2}
              <td #{visible_column("address", "postcode")} class="col-postcode #{align_attribute("string")}">
              \#{address.postcode}
              <td #{visible_column("address", "country")} class="col-country #{align_attribute("string")}">
              \#{address.country}
              / Beautiful_scaffold - AddField - Column - Do not remove
              <td #{visible_column("address", "created_at")} class="col-created_at #{align_attribute("datetime")}">
              \#{l(address.created_at, :format => :long)}
              <td #{visible_column("address", "updated_at")} class="col-updated_at #{align_attribute("datetime")}">
              \#{l(address.updated_at, :format => :long)}
              %td= link_to '<i class="icon-search"></i>'.html_safe, address_path(address), :title => t(:show, :default => "Show")
              %td= link_to '<i class="icon-pencil"></i>'.html_safe, edit_address_path(address), :title => t(:edit, :default => "Edit")
              %td= link_to '<i class="icon-remove"></i>'.html_safe, address_path(address), :data => { :confirm => t(:are_you_sure, :default => "Are you sure?") }, :method => :delete, :title => t(:destroy, :default => "Destroy")
      .btn-toolbar
        .btn-group
          - clean_params
          = will_paginate @addresses,                            |
            :inner_window => 0,                                  |
            :outer_window => 0,                                  |
            :previous_label => t(:prev, :default => "Previous"), |
            :next_label => t(:next, :default => "Next")          |
        .btn-group.pull-right
          = link_to '<i class="icon-download"></i> CSV'.html_safe,  addresses_path(:format => :csv), :class => "btn"
          = link_to '<i class="icon-download"></i> JSON'.html_safe, addresses_path(:format => :json), :class => "btn"
  .span3
    = search_form_for @q, :url => search_addresses_path, :html => { :class => "well well-small" }, :method => :post do |f|
      = ransack_field("address", "first_name", f, "First_name")
      = ransack_field("address", "last_name", f, "Last_name")
      = ransack_field("address", "street1", f, "Street1")
      = ransack_field("address", "street2", f, "Street2")
      = ransack_field("address", "postcode", f, "Postcode")
      = ransack_field("address", "country", f, "Country")
      = ransack_field("address", "created_at", f, "Created At")
      = ransack_field("address", "updated_at", f, "Updated At")
      = ransack_field("address", "id", f, "Id")
      / Beautiful_scaffold - AddField - Search - Do not remove
      = f.submit t(:filter, :default => "Filter"), :class => "btn btn-primary"
      = link_to  t(:cancel, :default => "Cancel"), addresses_path(:nosearch => "ok"), :class => "btn"
