%h2
  = t(:addresses)
%p
  = link_to new_address_path, :class => "btn" do
    %i.icon-plus= t(:new) + ' ' + t(:address)
.row-fluid
  .span9
    %div
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th{column_style("address", "first_name")}
              =sorting_header("address", "first_name", "")
            %th{column_style("address", "last_name")}
              =sorting_header("address", "last_name", "")
            %th{column_style("address", "street1")}
              =sorting_header("address", "street1", "")
            %th{column_style("address", "street2")}
              =sorting_header("address", "street2", "")
            %th{column_style("address", "postcode")}
              =sorting_header("address", "postcode", "")
            %th{column_style("address", "country")}
              =sorting_header("address", "country", "")
        %tbody
          - @addresses.each do |address|
            %tr{:class => "line-#{cycle("1","2")}"}
              %td{column_style("address", "first_name")}
                = link_to  address_path(address), :title => t(:show) do 
                  = address.first_name
              %td{column_style("address", "last_name")}
                =address.last_name
              %td{column_style("address", "street1")}
                =address.street1
              %td{column_style("address", "street2")}
                =address.street2
              %td{column_style("address", "postcode")}
                =address.postcode
              %td{column_style("address", "country")}
                =address.country
      .btn-toolbar
        .btn-group
          - clean_params
          = will_paginate @addresses,                            |
            :inner_window => 0,                                  |
            :outer_window => 0,                                  |
            :previous_label => t(:prev), |
            :next_label => t(:next)          |
        .btn-group.pull-right
          = link_to addresses_path(:format => :csv), :class => "btn" do
            %i.icon-download CSV 
          = link_to addresses_path(:format => :json), :class => "btn" do
            %i.icon-download JSON 
  .span3
    = search_form_for @q, :url => search_addresses_path, :html => { :class => "well well-small" }, :method => :post do |f|
      = ransack_field("address", "first_name", f, "First_name")
      = ransack_field("address", "last_name", f, "Last_name")
      = ransack_field("address", "street1", f, "Street1")
      = ransack_field("address", "street2", f, "Street2")
      = ransack_field("address", "postcode", f, "Postcode")
      = ransack_field("address", "country", f, "Country")
      = f.submit t(:filter, :default => "Filter"), :class => "btn btn-primary"
      = link_to  t(:cancel, :default => "Cancel"), addresses_path(:nosearch => "ok"), :class => "btn"
