<h2><%= t(:treeview, :default => 'Treeview') %> <%= t('app.models.address.bs_caption', :default => 'address') %></h2>

<%
namespace_for_url = ""
plural_model_name = "addresses"
model_name        = "address"
opened_node       = Address.select(:id).all.map{ |g| "'treeelt_" + g.id.to_s + "'" }.join(',').html_safe
%>

<div id="treeview" data-model="<%= model_name %>" data-url="/<%= namespace_for_url %><%= plural_model_name %>/" data-opened="[<%= opened_node %>]">
  <ul>
    <% Address.transaction do %>
    <% ar = Address.where(:address_id => nil) %>
    <% ar = ar.order("position") if Address.column_names.include?("position") %>
      <% for g in ar.all %>
        <%= build_treeview(g, 'addresses') %>
      <% end %>
    <% end %>
  </ul>
</div>

