= form_for(@item, :html => { :class => "form-horizontal" }) do |f|
  - if @item.errors.any?
    #error_explanation
      %h2
        = pluralize(@item.errors.count, "error")
        prohibited this item from being saved:
      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.label :quantity, t(:quantity), :class => "control-label"
    .controls
      = f.number_field :quantity
  .control-group
    = f.label :price, t(:price), :class => "control-label"
    .controls
      .input-prepend
        %span.add-on €
        = f.text_field :price
  .control-group
    = f.label :tax, t(:tax), :class => "control-label"
    .controls
      = f.text_field :tax
  .control-group
    = f.label :product, t(:product), :class => "control-label"
    .controls
      = f.text_field :product_id
  .control-group
    = f.label :basket, t(:basket), :class => "control-label"
    .controls
      = f.text_field :basket
  .form-actions
    = f.submit :class => "btn btn-primary"
