%h2
  = t(:listing, :default => "Listing")
  = t('app.models.item.bs_caption_plural', :default => 'item')
%p
  = link_to '<i class="icon-plus"></i> '.html_safe + t(:new, :default => "New") + ' ' + t('app.models.item.bs_caption', :default => 'item'), new_item_path, :class => "btn"
.row-fluid
  .span9
    %div
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th
              = check_box_tag :checkall, ''
            %th{column_style("item", "quantity")}
              =sorting_header("item", "quantity", "")
            %th{column_style("item", "price")}
              =sorting_header("item", "price", "")
            %th{column_style("item", "tax")}
              =sorting_header("item", "tax", "")
            %th{column_style("item", "product")}
              =sorting_header("item", "product", "")
            %th{column_style("item", "basket")}
              =sorting_header("item", "basket", "")
            %th{:colspan => "3"}
              %label.checkbox
                = check_box_tag :checkallelt, 'all'
                = pluralize(@item_scope.count, "item")
        %tbody
          - @items.each do |item|
            %tr{:class => "line-#{cycle("1","2")}"}
              %td= check_box_tag "ids[]",item.id, false, :class => 'cbbatch'
              %td{column_style("item", "quantity")}
                =item.quantity
              %td{column_style("item", "price")}
                =number_to_currency(item.price, :locale => I18n.locale)
              %td{column_style("item", "tax")}
                =item.tax
              %td{column_style("item", "product")}
                =item.product
              %td{column_style("item", "basket")}
                =item.basket
              %td= link_to '<i class="icon-search"></i>'.html_safe, item_path(item), :title => t(:show, :default => "Show")
              %td= link_to '<i class="icon-pencil"></i>'.html_safe, edit_item_path(item), :title => t(:edit)
              %td= link_to '<i class="icon-remove"></i>'.html_safe, item_path(item), :data => { :confirm => t(:are_you_sure, :default => "Are you sure?") }, :method => :delete, :title => t(:destroy, :default => "Destroy")
      .btn-toolbar
        .btn-group
          - clean_params
          = will_paginate @items,                                |
            :inner_window => 0,                                  |
            :outer_window => 0,                                  |
            :previous_label => t(:prev), |
            :next_label => t(:next)          |
        .btn-group.pull-right
          = link_to items_path(:format => :csv), :class => "btn" do
            %i.icon-download CSV 
  .span3
    = search_form_for @q, :url => search_items_path, :html => { :class => "well well-small" }, :method => :post do |f|
      = ransack_field("item", "quantity", f, "Quantity")
      = ransack_field("item", "price", f, "Price")
      = ransack_field("item", "tax", f, "Tax")
      = ransack_field("item", "product_id", f, "Product")
      = f.submit t(:filter, :default => "Filter"), :class => "btn btn-primary"
      = link_to  t(:cancel, :default => "Cancel"), items_path(:nosearch => "ok"), :class => "btn"
