%h2
  = t(:show, :default => "Show")
  = t('app.models.item.bs_caption', :default => 'item')
%p
  %b
    = t('app.models.item.bs_attributes.quantity', :default => 'quantity') + ":"
  = @item.quantity
%p
  %b
    = t('app.models.item.bs_attributes.price', :default => 'price') + ":"
  = number_to_currency(@item.price)
%p
  %b
    = t('app.models.item.bs_attributes.tax', :default => 'tax') + ":"
  = @item.tax
%p
  %b
    = t('app.models.item.bs_attributes.product', :default => 'product') + ":"
  = @item.product
%p
  %b
    = t('app.models.item.bs_attributes.basket', :default => 'basket') + ":"
  = @item.basket
= link_to t(:edit), edit_item_path(@item), :class => "btn"
= link_to t(:back), items_path, :class => "btn"
