= form_for(@category, :html => { :multipart => true , :class => "form-horizontal" }) do |f|
  - if @category.errors.any?
    #error_explanation
      %h2
        = pluralize(@category.errors.count, "error")
        prohibited this category from being saved:
      %ul
        - @category.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-lg-6
      .control-group
        = f.label :category, t(:category), :class => "control-label"
        .controls
          = f.collection_select(:category_id, Category.all, :id, :name, :prompt => 'Select')
        .controls
          = f.text_field :name
        .controls
          = f.text_field :position
        .controls
          = f.text_field :link
    .col-lg-6
      .control-group
        .controls
          = f.check_box :online
        .controls
          = f.text_area :description
      .row
        .col-lg-6
          = image_tag @category.main_picture.url
          .controls
            = f.file_field :main_picture
        .col-lg-6
          = image_tag @category.extra_picture.url
          .controls
            = f.file_field :extra_picture
    .form-actions
      = f.submit :class => "submit-button"
