%h2
  = t params["action"]
  = t(:category)
%ol.breadcrumb
  - parents(@category).each do | group|
    %li
      - if group.id
        = link_to group.name , office.category_path(group)
      - else
        = t(:new)
- url = @category.persisted? ? office.category_path(@category) : office.categories_path
= bootstrap_form_for(@category, :html => { :multipart => true } , :url => url) do |f|
  .row.form-group
    .col-md-5
      = f.text_field :name
      .row
        .col-md-2
          = f.check_box :online
        .col-md-10
          = f.text_field :link
      = f.select :category_id , Category.all.order(:name).map { |c| [c.name, c.id ] }, :prompt => t(:select) , :include_blank => true
      = f.text_field :position
    .col-md-7
      = f.text_area :summary , :rows => 2
      = f.text_area :description , :rows => 10
  .row
    .col-md-4
      = image_tag @category.main_picture.url
    .col-md-4
      = image_tag @category.extra_picture.url
    .col-md-4
      = f.submit :class => "btn btn-success"
      %br
      %br
      = link_to t(:back), office.categories_path, :class => "btn btn-warning"
  .row
    .col-md-4
      = f.file_field :main_picture
    .col-md-4
      = f.file_field :extra_picture
