%h2
  = t params["action"]
  = t(:category)
%ol.breadcrumb
  - parents(@category).each do | group|
    %li
      = link_to group.name , category_path(group)

= simple_form_for(@category, :html => { :multipart => true , :class => "form-horizontal" }) do |f|
  .row.form-group
    .col-md-6
      = f.input :category ,  input_html: { class: 'form-control' } do 
        = f.select :category_id, Category.all.order(:name).map { |c| [c.name, c.id ] }, :include_blank => true , :prompt => t(:select)
      = f.input :online
      = f.input :name
      = f.input :link
      = f.input :position
    .col-md-6
      = f.input :description , :as => :text , :input_html => {:rows => 12}
  .row
    .col-md-6
      = image_tag @category.main_picture.url
    .col-md-6
      = image_tag @category.extra_picture.url
  .row
    .col-md-6
      = f.file_field :main_picture
    .col-md-6
      = f.file_field :extra_picture
  .row
    .col-md-3
      = f.submit :class => "btn btn-success"
    .col-md-3
      = link_to t(:back), categories_path, :class => "btn btn-warning"
        