.row
  .col-md-9.categories
    .row
      .col-md-10
        %h2= t(:categories)
        = paginate @categories
      .col-md-2
        = link_to  t(:new) + ' ' + t(:category) , new_category_path , :class => "btn btn-primary"
  .col-md-3
    = image_tag "office_clerk/categories.jpg" , :class => "img-responsive"
.row
  .col-md-9
    %div
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th=t( "picture")
            %th= sort_link @q, :name
            %th= t(:count)
            %th= t(:online)
            %th=t( "activerecord.attributes.category.category")
            %th{:colspan => "3"}
              %label.checkbox
                = @category_scope.length.to_s + " " +t(:categories)
        %tbody
          - @categories.each do |category|
            %tr{:class => "line-#{cycle("1","2")}"}
              %td.image= image_tag category.main_picture.url(:thumb)
              %td=link_to category.name, category_path(category), :title => t(:show) , :class => category.online && "online"
              %td=category.products.length.to_s
              %td=category.online ? t(:online) : t(:not_online)
              %td=link_to category.category.name, category_path(category.category) , :class => category.category.online && "online" if category.category
              %td= link_to t(:edit), edit_category_path(category), :title => t(:edit)
    = paginate @categories
  .col-md-3
    = search_form_for @q, :url => search_categories_path, :html => { :class => "form-horizontal" }, :method => :post do |f|
      .form-group
        .input-group
          = f.text_field :name_cont , :class => "form-control" , :placeholder =>  t(:name)
          %span.input-group-addon
            =t(:online)
            = f.radio_button :online_eq , true
      .form-group
        .input-group
          = f.text_field :summary_cont , :class => "form-control" , :placeholder => t(:summary)
          %span.input-group-addon
            =t(:blanks)
            = f.radio_button :summary_blank , true
      .form-group
        .input-group
          = f.text_field :description_cont , :class => "form-control" , :placeholder =>  t(:description)
          %span.input-group-addon
            =t(:blanks)
            = f.radio_button :description_blank , true
      = f.submit t(:filter), :id => :filter , :class => "btn btn-success"
      = link_to  t(:cancel), categories_path, :class => "btn btn-warning"
    %hr
    - @roots.each do |group|
      %ul.cat
        = render "treeview" , :group => group
