.row
  .col-md-6
    %h2
      = t(:category)
      = @category.name
      = render "products/online" , :object => @category
    %p
      %b
        = t(:summary) + " : "
      = markdown @category.summary
      %br
      %b
        = t(:description) + " : "
      = markdown @category.description
  .col-md-6
    %ol.breadcrumb
      - parents(@category).each do | group|
        %li
          = link_to group.name , office.category_path(group)
    .row
      .col-md-6
        %p
          = image_tag @category.main_picture.url
      .col-md-6
        %p
          = image_tag @category.extra_picture.url

  = link_to t(:edit), office.edit_category_path(@category), :class => "btn btn-primary"
  = link_to t(:back), office.categories_path, :class => "btn btn-primary"
  %b= t(:shop_link) + " : "
  = link_to @category.link , office.categories_path(@category.link)

=render "triple" , :groups => @category.categories
=render "products/triple" , :products => @category.products.no_items
