.row.categories_show_start
  .col-md-6
    %h2
      = t(:category)
      = @category.name
      = render "products/online" , :object => @category
    %p
      %b
        = t(:position) + " : "
      = @category.position
    %p
      %b
        = t(:summary) + " : "
      = markdown @category.summary
    %p
      %b
        = t(:description) + " : "
      = markdown @category.description
  .col-md-6
    %ol.breadcrumb
      - parents(@category).each do | group|
        %li
          = link_to group.name , category_path(group)
    .row
      .col-md-6
        %p
          = image_tag @category.main_picture.url
      .col-md-6

  = link_to t(:edit), edit_category_path(@category), :class => "btn btn-primary"
  = link_to t(:back), categories_path, :class => "btn btn-primary"
  = render "shop_link"

=render "triple" , :groups => @category.categories
=render "products/triple" , :products => @category.products.no_items
.categories_show_end
