.col-lg-6
  %h2
    = t(:category)
    = @category.name
    = render "products/online" , :object => @category
  -if @category.category_id
    %h3
      = "( " + @category.category.name + " )"


  %p
    %b
      = t(:description) + " : "
    = @category.description
.col-lg-6
  %p
    %b
      = t(:link) + " : "
    = @category.link
  %p
    %b
      = t(:picture) + " : "
    = image_tag @category.main_picture.url
    %b
      = t(:picture) + " : "
    = image_tag @category.extra_picture.url

=render "products/triple" , :products => @category.products

= link_to t(:edit), edit_category_path(@category), :class => "btn btn-primary"
= link_to t(:back), categories_path, :class => "btn btn-primary"
