= simple_form_for(@product, :html => { :multipart => true } ) do |f|
  .product_edit_start.row
    = render "head"
    - url = @product.persisted? ? product_path(@product) : products_path
    .col-md-4
      = f.hidden_field( :product_id) if @product.product_id
      .row
        .col-md-12
          = f.input :summary,  input_html: {rows: 4}
      .row
        .col-md-12
          = f.input :description, input_html: {rows: 10}
    .col-md-8
      .row
        .col-md-6
          = f.input :name
        .col-md-6
          - unless @product.product_id
            = f.input :link
        .col-md-4
          = f.input :price
        .col-md-4
          = f.input :scode
        .col-md-4
          = f.input :ean
        .col-md-4
          = f.input :cost
        .col-md-4
          = f.input :weight
        .col-md-2
          = f.input :tax
        .col-md-2
          = f.input :online

      .row
        .col-md-4
          = image_tag @product.main_picture.url(:list)
          = f.file_field :main_picture , :label => t(:main_picture)
        .col-md-8
          .row
            .col-md-6
              = f.association :supplier , label_method: :supplier_name,
                                          value_method: :id, include_blank: true
            .col-md-6
              = f.association :category , label_method: :name,
                                          value_method: :id, include_blank: true
            .col-md-6
              = f.input :pack_unit
            .col-md-6
              = f.input :position
      .row
        .col-md-4
          = f.submit :class => "btn btn-success"
        .col-md-4
          -if @product.product_id
            = link_to t(:cancel), product_path(@product.product), :class => "btn btn-warning"
          -else
            = link_to t(:cancel), products_path, :class => "btn btn-warning"
.product_edit_end
