.row
  .col-md-9
    .row
      .col-md-10
        %h2
          - if params[:basket]
            = t(:choose_product_for_basket)
          -else
            = t(:products)
        = paginate @products
      .col-md-2
        = link_to  t(:new) + ' ' + t(:product) , new_product_path , :class => "btn btn-primary"
  .col-md-3
    = image_tag "admin/products.jpg" , :class => "img-responsive"

.row
  .col-md-9
    %div
      %table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th=t( "picture")
            %th= sort_link @q, :ean
            %th= sort_link @q, :name
            %th= sort_link @q, :price
            %th=t(:supplier) + " " + t(:category)
            %th= sort_link @q, :inventory
            %th
              %label.checkbox
                = @product_scope.count.to_s + " " + t(:products)
        %tbody
          - @products.each do |product|
          -next if params[:basket] and product.line?
            %tr{:class => "line-#{cycle("1","2")}"}
              %td.image= image_tag product.main_picture.url(:thumb)
              %td.ean= product.line? ? "#{product.products.count} #{t(:items)}" : product.ean
              %td.name
                = link_to product_path(product), :title => t(:show) do
                  =product.full_name
              %td.price=euros(product.price)
              %td.supplier
                =product.supplier.supplier_name if product.supplier
                %br
                =product.category.name if product.category
              %td.inventory=product.inventory
              -if params[:basket]
                %td= link_to t(:add_to_basket) , edit_basket_path(:id => params[:basket] , :product => product.id)
              -else
                %td= link_to t(:edit) ,edit_product_path(product), :title => t(:edit)
  .col-md-3
    = search_form_for @q, :url => search_products_path, :html => { :class => "well well-small" }, :method => :get do |f|
      .form-group
        - if params[:basket]
          = hidden_field_tag :basket , params[:basket]
          = f.text_field :name_or_product_name_cont, :class => "form-control" , :placeholder => t(:name)
        -else
          = f.text_field :name_cont, :class => "form-control" , :placeholder => t(:name)
      .form-group
        = f.text_field :description_cont , :class => "form-control" , :placeholder => t(:description)
      .form-group
        = f.text_field :ean_cont , :class => "form-control" , :placeholder => t(:ean)
      .form-group
        = f.text_field :scode_cont , :class => "form-control" , :placeholder => t(:scode)
      .form-group.row
        .col-md-3
          = f.label(:price)
        .col-md-4
          = f.text_field :price_lteq , :class => "form-control"
        .col-md-4
          = f.text_field :price_gteq , :class => "form-control"
      .form-group.row
        .col-md-3
          = f.label(:inventory)
        .col-md-4
          = f.text_field :inventory_lteq , :class => "form-control"
        .col-md-4
          = f.text_field :inventory_gteq , :class => "form-control"
      .form-group
        = f.label t(:supplier)
        = f.collection_select :supplier_id_eq, Supplier.all, :id, :supplier_name, :include_blank => true
      .form-group
        = f.label t(:category)
        = f.collection_select :category_id_eq, Category.all, :id, :name, :include_blank => true
      = f.submit t(:filter), :class => "btn btn-success"
      = link_to  t(:cancel), products_path, :class => "btn btn-primary"
