.row.product_index_start
  .col-md-9.products
    .row
      .col-md-10
        %h2
          - if params[:basket]
            %br
            %br
            %br
            = t(:choose_product_for_basket)
          -else
            = t(:products)
          = paginate @products
      .col-md-2
        = link_to  t(:new) + ' ' + t(:product) , new_product_path , :class => "btn btn-primary"
  .col-md-3
    = image_tag "office_clerk/products.jpg" , :class => "img-responsive"

.row
  .col-md-9
    %div
      %table.table.table-condensed
        %thead
          %tr
            %th=t( "picture")
            %th= sort_link [:office,@q], :ean
            %th= sort_link [:office,@q], :name
            %th= sort_link [:office,@q], :price
            %th= sort_link [:office,@q], :cost
            %th
              =t(:supplier)
              %br
              =t(:category)
            %th= sort_link [:office,@q], :inventory
            %th
              %label.checkbox
                = @product_scope.length.to_s + " " + t(:products)
        %tbody
          - @products.each do |product|
            -next if params[:basket] and product.line?
            - cache(product.cache_key + ":" + params[:basket].to_s) do
              %tr{:class => "line-#{cycle("1","2")}"}
                %td.image= image_tag product.main_picture.url(:thumb)
                %td.ean= product.line? ? "#{product.products.length} #{t(:items)}" : product.ean
                %td.name
                  = link_to product_path(product), :title => t(:show) , :class => product.online && "online" do
                    =product.full_name
                %td.price.text-right=euros(product.price)
                %td.price.text-right=euros(product.cost)
                %td.supplier
                  =product.supplier.supplier_name if product.supplier
                  %br
                  =product.category.name if product.category
                %td.inventory=product.inventory
                -if params[:basket]
                  %td= link_to t(:add_to_basket) , edit_basket_path(:id => params[:basket] , :add => product.id)
                -else
                  %td= link_to t(:edit) ,edit_product_path(product), :title => t(:edit)
      .btn-toolbar.row
        .btn-group.pull-left
          = paginate @products
        %ul.pagination.csv
          %li
            = link_to "CSV",products_path({:format => :csv}.merge( params.to_unsafe_h)) 
  .col-md-3
    = search_form_for @q, :html => { :class => "form-horizontal" }, :method => :get do |f|
      .form-group
        .input-group
          - if params[:basket]
            = hidden_field_tag :basket , params[:basket]
            = f.text_field :name_or_product_name_cont, :class => "form-control" , :placeholder => t(:name)
          -else
            = f.text_field :name_cont, :class => "form-control" , :placeholder => t(:name)
          %span.input-group-addon
            =t(:online)
            = f.radio_button :online_eq , true
      .form-group
        .input-group
          = f.text_field :summary_cont , :class => "form-control" , :placeholder => t(:summary)
          %span.input-group-addon
            =t(:blanks)
            = f.radio_button :summary_blank , true
      .form-group
        .input-group
          = f.text_field :description_cont , :class => "form-control" , :placeholder =>  t(:description)
          %span.input-group-addon
            =t(:blanks)
            = f.radio_button :description_blank , true
      .form-group
        .col-md-6
          = f.text_field :ean_cont , :class => "form-control" , :placeholder => t(:ean)
        .col-md-6
          = f.text_field :scode_cont , :class => "form-control" , :placeholder => t(:scode)
      .form-group
        .col-md-4
          = f.label(:price)
        .col-md-4
          = f.text_field :price_gteq , :class => "form-control"
        .col-md-4
          = f.text_field :price_lteq , :class => "form-control"
        .col-md-4
          = f.label(:cost)
        .col-md-4
          = f.text_field :cost_gteq , :class => "form-control"
        .col-md-4
          = f.text_field :cost_lteq , :class => "form-control"
        .col-md-4
          = f.label(:inventory)
        .col-md-4
          = f.text_field :inventory_gteq , :class => "form-control"
        .col-md-4
          = f.text_field :inventory_lteq , :class => "form-control"
      .form-group
        .col-md-4
          = f.label t(:supplier)
        .col-md-8
          = f.collection_select :supplier_id_eq, Supplier.all, :id, :supplier_name, {:include_blank => true}, :class=>"form-control"
      .form-group
        .col-md-4
          = f.label t(:category)
        .col-md-8
          = f.collection_select :category_id_eq, Category.all, :id, :name, {:include_blank => true}, :class=>"form-control"
      = f.submit t(:filter), :class => "btn btn-success" , :id => :filter
      = link_to  t(:cancel), products_path, :class => "btn btn-warning"
.product_index_end
