%h2
  - if params[:basket]
    = t(:choose_product_for_basket)
  -else
    = t(:products)
%p
  %dl.sub-nav
    %dd
      = link_to  t(:new) + ' ' + t(:product) , new_product_path , :class => "admin-button" unless params[:basket]
    %dd
      = paginate @products 
.row
  .medium-9.columns
    %div
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th{column_style("category", "main_picture")}=t( "picture")
            %th= sort_link @q, :ean
            %th= sort_link @q, :name
            %th= sort_link @q, :price
            %th=t(:supplier) + " " + t(:category)
            %th= sort_link @q, :inventory
            %th
              %label.checkbox
                = pluralize(@product_scope.count, "product")
        %tbody
          - @products.each do |product|
          -next if params[:basket] and product.line?
            %tr{:class => "line-#{cycle("1","2")}"}
              %td{column_style("category", "picture")}
                = image_tag product.main_picture.url
              %td{column_style("product", "ean")}
                = product.line? ? "#{product.products.count} #{t(:items)}" : product.ean
              %td{column_style("product", "name")}
                = link_to product_path(product), :title => t(:show) do 
                  =product.line_item? ? product.full_name : product.name
              %td{column_style("product", "price")}
                =euros(product.price)
              %td{column_style("product", "supplier")}
                =product.supplier.supplier_name if product.supplier
                %br
                =product.category.name if product.category
              %td{column_style("product", "inventory")}
                =product.inventory
              -if params[:basket]
                %td= link_to t(:add_to_basket) , edit_basket_path(:id => params[:basket] , :product => product.id)
              -else
                %td= link_to t(:edit) ,edit_product_path(product), :title => t(:edit)
  .medium-3.columns
    = search_form_for @q, :url => search_products_path, :html => { :class => "well well-small" }, :method => :get do |f|
      .search_heading= t(:name)
      - if params[:basket]
        = hidden_field_tag :basket , params[:basket]
        = f.text_field :name_or_product_name_cont , :label =>  "product or product item name"
      -else
        = f.text_field :name_cont , :label => "product or product line name"
      = f.facet_for("description")
      = f.facet_for :price , :class => "control-group" 
      = f.facet_for("link")
      = f.facet_for("ean")
      = f.facet_for("scode")
      = f.facet_for("inventory")
      = f.facet_for("supplier")
      = f.facet_for("category")
      = f.submit t(:filter), :class => "submit-button"
      = link_to  t(:cancel), products_path, :class => "admin-button"
