.row
  .large-6.column
    %h2
      - if params[:basket]
        = t(:choose_product_for_basket)
      -else
        = t(:products)
  .large-6.column
    = link_to  t(:new) + ' ' + t(:product) , new_product_path , :class => "admin-button" unless params[:basket]
%p
  = paginate @supplier

.row
  .medium-9.columns
    %div
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th=t( "picture")
            %th= sort_link @q, :ean
            %th= sort_link @q, :name
            %th= sort_link @q, :price
            %th=t(:supplier) + " " + t(:category)
            %th= sort_link @q, :inventory
            %th
              %label.checkbox
                = @product_scope.count.to_s + " " + t(:products)
        %tbody
          - @products.each do |product|
          -next if params[:basket] and product.line?
            %tr{:class => "line-#{cycle("1","2")}"}
              %td= image_tag product.main_picture.url
              %td= product.line? ? "#{product.products.count} #{t(:items)}" : product.ean
              %td
                = link_to product_path(product), :title => t(:show) do 
                  =product.full_name 
              %td=euros(product.price)
              %td
                =product.supplier.supplier_name if product.supplier
                %br
                =product.category.name if product.category
              %td=product.inventory
              -if params[:basket]
                %td= link_to t(:add_to_basket) , edit_basket_path(:id => params[:basket] , :product => product.id)
              -else
                %td= link_to t(:edit) ,edit_product_path(product), :title => t(:edit)
  .medium-3.columns
    = search_form_for @q, :url => search_products_path, :html => { :class => "well well-small" }, :method => :get do |f|
      .search_heading= t(:name)
      - if params[:basket]
        = hidden_field_tag :basket , params[:basket]
        = f.text_field :name_or_product_name_cont 
      -else
        = f.text_field :name_cont 
      = f.facet_for(:description , :label => t(:description))
      = f.facet_for(:price , :label => t(:price_between) )
      = f.facet_for(:ean , :label => t(:ean)  )
      = f.facet_for(:scode, :label => t(:scode) )
      = f.facet_for(:inventory, :label => t(:inventory) )
      = f.label t(:supplier)
      = f.collection_select :supplier_id_eq, Supplier.all, :id, :supplier_name, :include_blank => true
      = f.label t(:category)
      = f.collection_select :category_id_eq, Category.all, :id, :name, :include_blank => true
      = f.submit t(:filter), :class => "submit-button"
      = link_to  t(:cancel), products_path, :class => "admin-button"
