%h2
  = t(:products)
%p
  %dl.sub-nav
    %dd
      = link_to  t(:new) + ' ' + t(:product) , new_product_path
    %dd
      = paginate @products 
.row
  .medium-9.columns
    %div
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th{column_style("category", "main_picture")}=t( "picture")
            %th{column_style("product", "ean")}
              =sorting_header("product", "ean", "")
            %th{column_style("product", "name")}
              =sorting_header("product", "name", "")
            %th{column_style("product", "price")}
              =sorting_header("product", "price", "")
            %th{column_style("product", "properties")}
              =sorting_header("product", "properties", "")
            %th{column_style("product", "inventory")}
              =sorting_header("product", "inventory", "")
            %th{:colspan => "2"}
              %label.checkbox
                = pluralize(@product_scope.count, "product")
        %tbody
          - @products.each do |product|
            %tr{:class => "line-#{cycle("1","2")}"}
              %td{column_style("category", "picture")}
                = image_tag product.main_picture.url
              %td{column_style("product", "ean")}
                =product.ean
              %td{column_style("product", "name")}
                =product.name
              %td{column_style("product", "price")}
                =euros(product.price)
              %td{column_style("product", "properties")}
                =product.properties
              %td{column_style("product", "inventory")}
                =product.inventory
              -if session[:basket]
                %td= link_to t(:add_to_basket) , edit_basket_path(:id => session[:basket] , :product => product.id)
              -else
                %td= link_to t(:show) , product_path(product), :title => t(:show)
                %td= link_to t(:edit) ,edit_product_path(product), :title => t(:edit)
  .medium-3.columns
    = search_form_for @q, :url => search_products_path, :html => { :class => "well well-small" }, :method => :post do |f|
      = ransack_field("product", "name", f, "Name")
      = ransack_field("product", "description", f, "Description")
      = ransack_field("product", "price", f, "Price")
      = ransack_field("product", "weight", f, "Weight")
      = ransack_field("product", "link", f, "Url name")
      = ransack_field("product", "ean", f, "Ean")
      = ransack_field("product", "tax", f, "Tax")
      = ransack_field("product", "properties", f, "Properties")
      = ransack_field("product", "scode", f, "Scode")
      = ransack_field("product", "inventory", f, "Inventory")
      = f.submit t(:filter), :class => "submit-button"
      = link_to  t(:cancel), products_path(:filter => "ok"), :class => "admin-button"
