%h2
  = t(:products)
%p
  .btn-toolbar
    = link_to  new_product_path, :class => "btn" do 
      %i.icon-plus= t(:new) + ' ' + t(:product)
    .btn-group 
      - clean_params
      = will_paginate @products
.row-fluid
  .span9
    %div
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th{column_style("category", "main_picture")}=t( "picture")
            %th{column_style("product", "ean")}
              =sorting_header("product", "ean", "")
            %th{column_style("product", "name")}
              =sorting_header("product", "name", "")
            %th{column_style("product", "price")}
              =sorting_header("product", "price", "")
            %th{column_style("product", "properties")}
              =sorting_header("product", "properties", "")
            %th{column_style("product", "inventory")}
              =sorting_header("product", "inventory", "")
            %th{:colspan => "3"}
              %label.checkbox
                = pluralize(@product_scope.count, "product")
        %tbody
          - @products.each do |product|
            %tr{:class => "line-#{cycle("1","2")}"}
              %td{column_style("category", "picture")}
                = image_tag product.main_picture.url
              %td{column_style("product", "ean")}
                =product.ean
              %td{column_style("product", "name")}
                =product.name
              %td{column_style("product", "price")}
                =number_to_currency(product.price)
              %td{column_style("product", "properties")}
                =product.properties
              %td{column_style("product", "inventory")}
                =product.inventory
              %td 
                = link_to  product_path(product), :title => t(:show) do 
                  %i.icon-search
              %td 
                = link_to edit_product_path(product), :title => t(:edit) do
                  %i.icon-pencil
              %td
  .span3
    = search_form_for @q, :url => search_products_path, :html => { :class => "well well-small" }, :method => :post do |f|
      = ransack_field("product", "name", f, "Name")
      = ransack_field("product", "description", f, "Description")
      = ransack_field("product", "price", f, "Price")
      = ransack_field("product", "weight", f, "Weight")
      = ransack_field("product", "link", f, "Url name")
      = ransack_field("product", "ean", f, "Ean")
      = ransack_field("product", "tax", f, "Tax")
      = ransack_field("product", "properties", f, "Properties")
      = ransack_field("product", "scode", f, "Scode")
      = ransack_field("product", "inventory", f, "Inventory")
      = f.submit t(:filter), :class => "btn btn-primary"
      = link_to  t(:cancel), products_path(:filter => "ok"), :class => "btn"
