.row
  .large-9.column
    .row
      .large-8.column
        %h2
          - if params[:basket]
            = t(:choose_product_for_basket)
          -else
            = t(:products)
      .large-4.column.new-button
        = link_to  t(:new) + ' ' + t(:product) , new_product_path , :class => "admin-button"
    .row
      %p
        = paginate @products
  .large-3.column
    = image_tag "admin/products.jpg"

.row
  .medium-9.columns
    %div
      %table.table-striped.table-bordered.table-condensed.admin-table
        %thead
          %tr
            %th=t( "picture")
            %th= sort_link @q, :ean
            %th= sort_link @q, :name
            %th= sort_link @q, :price
            %th=t(:supplier) + " " + t(:category)
            %th= sort_link @q, :inventory
            %th
              %label.checkbox
                = @product_scope.count.to_s + " " + t(:products)
        %tbody
          - @products.each do |product|
          -next if params[:basket] and product.line?
            %tr{:class => "line-#{cycle("1","2")}"}
              %td.image= image_tag product.main_picture.url(:thumb)
              %td.ean= product.line? ? "#{product.products.count} #{t(:items)}" : product.ean
              %td.name
                = link_to product_path(product), :title => t(:show) do
                  =product.full_name
              %td.price=euros(product.price)
              %td.supplier
                =product.supplier.supplier_name if product.supplier
                %br
                =product.category.name if product.category
              %td.inventory=product.inventory
              -if params[:basket]
                %td= link_to t(:add_to_basket) , edit_basket_path(:id => params[:basket] , :product => product.id)
              -else
                %td= link_to t(:edit) ,edit_product_path(product), :title => t(:edit)
  .medium-3.columns
    = search_form_for @q, :url => search_products_path, :html => { :class => "well well-small" }, :method => :get do |f|
      .search_heading
        = f.label(:online_eq)
        = f.check_box :online_eq
      .search_heading
        = f.label(:name)
        - if params[:basket]
          = hidden_field_tag :basket , params[:basket]
          = f.text_field :name_or_product_name_cont
        -else
          = f.text_field :name_cont
      .search_heading
        = f.label(:description)
        = f.text_field :description
      .search_heading
        = f.label(:price_between)
      .search_heading
        = f.text_field :price_lteq , :class => :small_left
        = f.text_field :price_gteq , :class => :small_right
      .search_heading
        = f.facet_for(:ean )
      .search_heading
        = f.facet_for(:scode, :label => t(:scode) )
      .search_heading
        = f.facet_for(:inventory, :label => t(:inventory) )
      .search_heading
        = f.label t(:supplier)
        = f.collection_select :supplier_id_eq, Supplier.all, :id, :supplier_name, :include_blank => true
      .search_heading
        = f.label t(:category)
        = f.collection_select :category_id_eq, Category.all, :id, :name, :include_blank => true
      = f.submit t(:filter), :class => "submit-button"
      = link_to  t(:cancel), products_path, :class => "admin-button"
