.row
  .product_show_start
  = render "head"

.row
  %div
    %table.table.table-sm.product-table
      %tbody
        %tr
          %td
            %b= t(:scode) + " : "
            = in_place @product , :scode
          %td
            %b= t(:inventory) + " : "
            = @product.inventory
        %tr
          %td
            %b= t(:ean) + " : "
            = in_place @product , :ean
          %td
            %b= t(:stock_level) + " : "
            = in_place @product , :stock_level

        %tr
          %td
            %b= t(:price) + " : "
            = in_place @product , :price , display_with: lambda { |v| best_euros(v) }
          %td
            %b= t(:pack_unit) + " : "
            = in_place @product , :pack_unit
        %tr
          %td
            %b= t(:cost) + " : "
            = in_place @product , :cost , display_with: lambda { |v| best_euros(v) }
          %td
            %b= t(:position) + " : "
            = in_place @product , :position
        %tr
          %td
            %b= t(:tax_percent) + " : "
            = in_place @product , :tax
          %td
            %b= t(:weight) + " : "
            = in_place @product , :weight
        %tr
          %td
            %b= t(:category) + " : "
            = link_to @product.category.name , category_path(@product.category) if @product.category
          %td
            %b= t(:supplier) + " : "
            = link_to @product.supplier.supplier_name ,supplier_path(@product.supplier) if @product.supplier

.row.product_show_row_buttons
  .col-md-2
    = link_to t(:edit), edit_product_path(@product), :class => "btn btn-success btn-sm"
  .col-md-2
    = link_to t(:delete) , product_path(@product), :method => :delete , :class => "btn btn-danger btn-sm", :data => {  :confirm => t(:are_you_sure )}
  .col-md-2.product_show_row_end
    = link_to t(:barcode) , barcode_product_path( @product), :class => "btn btn-primary btn-sm"
  .col-md-2
    = link_to t(:new) + ' ' + t(:product) , new_product_path , :class => "btn btn-primary bt-sm"

.product_show_end
