= render "head"

-if @product.line?
  =render "line"

.row
  %br
  .col-md-6.tausta
    .row
      .col-md-6
        %p
          %b
            = t(:main_picture) + " : "
          %br
          = image_tag @product.main_picture.url
      .col-md-6
        %p
          %b
            = t(:extra_picture) + " : "
          %br
          = image_tag @product.extra_picture.url
    .row
      .col-md-6
        %p
          %b
            = t(:price) + " : "
          = euros(@product.price)
        %p
          %b
            = t(:cost) + " : "
          = euros(@product.cost)
        %p
          %b
            = t(:category) + " : "
          = link_to @product.category.name ,category_path(@product.category) if @product.category
      .col-md-6
        %p
          %b
            = t(:weight) + " : "
          = @product.weight
        %p
          %b
            = t(:inventory) + " : "
          = @product.inventory
        %p
          %b
            = t(:supplier) + " : "
          = link_to @product.supplier.supplier_name ,supplier_path(@product.supplier) if @product.supplier
  .col-md-6
    %p
      %b
        = t(:description) + " : "
      = markdown @product.description
    %p
      %b
        = t(:link) + " : "
      = @product.link
    %p
      %b
        = t(:ean) + " : "
      = @product.ean
    %p
      %b
        = t(:scode) + " : "
      = @product.scode
    %p
      %b
        = t(:tax_percent) + " : "
      = @product.tax
.row.product_show_row_buttons
  .col-md-2
    = link_to t(:edit), edit_product_path(@product), :class => "btn btn-success"
  .col-md-2
    = link_to t(:delete) , delete_product_path(@product), :class => "btn btn-danger"
  -unless @product.product_item?
    .col-md-2
      = link_to t(:new_item) , new_product_path( :parent_id => @product.id), :class => "btn btn-primary" 
  .col-md-6.product_show_row_end
