.row.product-window
  %h3
    = @product.name
    (
    %small=@product.id
    )
.row.h6
  .third
    %b= t(:scode) + " : "
    = in_place @product , :scode
  .third
    %b= t(:inventory) + " : "
    = @product.inventory
  .third
    %b= t(:stock_level) + " : "
    = in_place @product , :stock_level
  .third
    %b= t(:ean) + " : "
    = in_place @product , :ean
  .third
    %b= t(:price) + " : "
    = in_place @product , :price , display_with: lambda { |v| best_euros(v) }
  .third
    %b= t(:pack_unit) + " : "
    = in_place @product , :pack_unit
  .third
    %b= t(:position) + " : "
    = in_place @product , :position
  .third
    %b= t(:cost) + " : "
    = in_place @product , :cost , display_with: lambda { |v| best_euros(v) }
  .third
    %b= t(:tax_percent) + " : "
    = in_place @product , :tax
  .third
    %b= t(:weight) + " : "
    = in_place @product , :weight
  .third
    %b= t(:phase) + " : "
    = in_place @product , :phase
  .third
    %b= t(:dimension) + " : "
    = in_place @product , :dimension
  .half
    %b= t(:category) + " : "
    = link_to @product.category.name , category_path(@product.category) if @product.category
  .half
    %b= t(:supplier) + " : "
    = link_to @product.supplier.supplier_name ,supplier_path(@product.supplier) if @product.supplier
  .half
    %b= t(:summary) + " : "
    = in_place @product , :summary , :as => :textarea
  .half
    %b= t(:description) + " : "
    = in_place @product , :description , :as => :textarea
%br

.row.product_show_row_buttons
  .col-md-2
    = link_to t(:edit), edit_product_path(@product), :class => "btn btn-success btn-sm"
  .col-md-2
    = link_to t(:delete) , product_path(@product), :method => :delete , :class => "btn btn-danger btn-sm", :data => {  :confirm => t(:are_you_sure )}
  .col-md-2.product_show_row_end
    = link_to t(:barcode) , barcode_product_path( @product), :class => "btn btn-primary btn-sm"
  .col-md-2
    = link_to t(:new) + ' ' + t(:product) , new_product_path(copy: @product.id) , :class => "btn btn-primary bt-sm"

.product_show_end
