-if @product.line?
  =render "line"
-elsif @product.line_item?
  %h3
    = t(:product)
    = t(:product_line)
    = link_to @product.product.name , product_path( @product.product)
    = @product.name
-elsif
  %h3
    Product:
    = @product.name

.row
  .medium-6.columns
    .medium-6.columns
      %p
        %b
          = t(:main_picture) + " : "
        %br
        = image_tag @product.main_picture.url
    .medium-6.columns
      %p
        %b
          = t(:extra_picture) + " : "
        %br
        = image_tag @product.extra_picture.url
    .medium-6
      %p
        %b
          = t(:price) + " : "
        = euros(@product.price)
      %p
        %b
          = t(:cost) + " : "
        = euros(@product.cost)
      %p
        %b
          = t(:weight) + " : "
        = @product.weight
      %p
        %b
          = t(:inventory) + " : "
        = @product.inventory
    = link_to t(:edit), edit_product_path(@product), :class => "admin-button"
    = link_to t(:back), products_path, :class => "admin-button"
    = link_to t(:delete) , delete_product_path(@product), :class => "admin-button"
    = link_to t(:new_item) , new_product_path( :parent_id => @product.id), :class => "admin-button"

  .medium-6.columns
    %p
      %b
        = t(:description) + " : "
      = @product.description
    %p
      %b
        = t(:link) + " : "
      = @product.link
    %p
      %b
        = t(:ean) + " : "
      = @product.ean
    %p
      %b
        = t(:scode) + " : "
      = @product.scode
    %p
      %b
        = t(:tax_percent) + " : "
      = @product.tax
    %p
      %b
        = t(:category) + " : "
      = link_to_if @product.category , @product.category.name ,category_path(@product.category)
    %p
      %b
        = t(:supplier) + " : "
      = link_to_if @product.supplier , @product.supplier.supplier_name ,supplier_path(@product.supplier)
