%h2
  = t(:show)
  = t(:product)
%p
  %b
    = t(:main_picture) + ":"
  = image_tag @product.main_picture.url
  %b
    = t(:extra_picture) + ":"
  = image_tag @product.extra_picture.url
%p
  %b
    = t(:price) + ":"
  = number_to_currency(@product.price)
%p
  %b
    = t(:cost) + ":"
  = number_to_currency(@product.cost)
%p
  %b
    = t(:weight) + ":"
  = @product.weight
%p
  %b
    = t(:name) + ":"
  = @product.name
%p
  %b
    = t(:description) + ":"
  = @product.description
%p
  %b
    = t(:link) + ":"
  = @product.link
%p
  %b
    = t(:ean) + ":"
  = @product.ean
%p
  %b
    = t(:tax) + ":"
  = @product.tax
%p
  %b
    = t(:properties) + ":"
  = @product.properties
%p
  %b
    = t(:scode) + ":"
  = @product.scode
%p
  %b
    = t(:product) + ":"
  = (@product.product.nil? ? "" : @product.product.caption)
%p
  %b
    = t(:product_group) + ":"
  = (@product.product_group.nil? ? "" : @product.product_group.caption)
%p
  %b
    = t(:supplier) + ":"
  = (@product.supplier.nil? ? "" : @product.supplier.name)
= link_to t(:edit), edit_product_path(@product), :class => "btn"
= link_to t(:back), products_path, :class => "btn"
= link_to t(:delete) , delete_product_path(@product), :class => "btn"
