<h2><%= t(:show, :default => "Show") %> <%= t('app.models.product.bs_caption', :default => 'product') %></h2>

  <p>
    <b><%= t('app.models.product.bs_attributes.price', :default => 'price') %>:</b>
      <%= number_to_currency(@product.price) %>
  </p>
  <p>
    <b><%= t('app.models.product.bs_attributes.cost', :default => 'cost') %>:</b>
      <%= number_to_currency(@product.cost) %>
  </p>
  <p>
    <b><%= t('app.models.product.bs_attributes.weight', :default => 'weight') %>:</b>
      <%= @product.weight %>
  </p>
  <p>
    <b><%= t('app.models.product.bs_attributes.name', :default => 'name') %>:</b>
      <%= @product.name %>
  </p>
  <p>
    <b><%= t('app.models.product.bs_attributes.description', :default => 'description') %>:</b>
      <%= @product.description %>
  </p>
  <p>
    <b><%= t('app.models.product.bs_attributes.slug', :default => 'slug') %>:</b>
      <%= @product.slug %>
  </p>
  <p>
    <b><%= t('app.models.product.bs_attributes.ean', :default => 'ean') %>:</b>
      <%= @product.ean %>
  </p>
  <p>
    <b><%= t('app.models.product.bs_attributes.tax', :default => 'tax') %>:</b>
      <%= @product.tax %>
  </p>
  <p>
    <b><%= t('app.models.product.bs_attributes.properties', :default => 'properties') %>:</b>
      <%= @product.properties %>
  </p>
  <p>
    <b><%= t('app.models.product.bs_attributes.scode', :default => 'scode') %>:</b>
      <%= @product.scode %>
  </p>
  <p>
    <b><%= t('app.models.product.bs_attributes.product', :default => 'product') %>:</b>
      <%= (@product.product.nil? ? "" : @product.product.caption) %>
  </p>
  <p>
    <b><%= t('app.models.product.bs_attributes.product_group', :default => 'product_group') %>:</b>
      <%= (@product.product_group.nil? ? "" : @product.product_group.caption) %>
  </p>
  <p>
    <b><%= t('app.models.product.bs_attributes.supplier', :default => 'supplier') %>:</b>
      <%= (@product.supplier.nil? ? "" : @product.supplier.caption) %>
  </p>

<!-- Beautiful_scaffold - AddField - Field - Do not remove -->

<%= link_to t(:edit, :default => "Edit"), edit_product_path(@product), :class => "btn" %>
<%= link_to t(:back, :default => "Back"), products_path, :class => "btn" %>

