%h2
  = t params["action"]
  = t(:supplier)
= simple_form_for(@supplier) do |f|
  .row
    = f.input :supplier_name
    = render "addresses/form_fields" ,:f => f
  .form-actions
    = f.submit :class => "btn btn-success"
    = link_to t(:back), suppliers_path, :class => "btn btn-warning"
