%h2
  = t(:listing, :default => "Listing")
  = t('app.models.supplier.bs_caption_plural', :default => 'supplier')
%p
  = link_to '<i class="icon-plus"></i> '.html_safe + t(:new, :default => "New") + ' ' + t('app.models.supplier.bs_caption', :default => 'supplier'), new_supplier_path, :class => "btn"
  - if Supplier.columns.map(&:name).include?("supplier_id") then
    = link_to '<i class="icon-folder-close"></i> '.html_safe + t(:treeview, :default => "Treeview") + ' ' + t('app.models.supplier.bs_caption', :default => 'supplier'), treeview_suppliers_path, :class => "btn"
.row-fluid
  .span9
    %div
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th
              = check_box_tag :checkall, ''
            %th{column_style("supplier", "name")}
              =sorting_header("supplier", "name", "")
            %th{column_style("supplier", "address")}
              =sorting_header("supplier", "address", "")
            %th{:colspan => "3"}
              %label.checkbox
                = check_box_tag :checkallelt, 'all'
                = pluralize(@supplier_scope.count, "supplier")
        %tbody
          - @suppliers.each do |supplier|
            %tr{:class => "line-#{cycle("1","2")}"}
              %td= check_box_tag "ids[]",supplier.id, false, :class => 'cbbatch'
              %td{column_style("supplier", "name")}
                =supplier.name
              %td{column_style("supplier", "address")}
                =supplier.address
              %td= link_to '<i class="icon-search"></i>'.html_safe, supplier_path(supplier), :title => t(:show, :default => "Show")
              %td= link_to '<i class="icon-pencil"></i>'.html_safe, edit_supplier_path(supplier), :title => t(:edit, :default => "Edit")
              %td= link_to '<i class="icon-remove"></i>'.html_safe, supplier_path(supplier), :data => { :confirm => t(:are_you_sure, :default => "Are you sure?") }, :method => :delete, :title => t(:destroy, :default => "Destroy")
      .btn-toolbar
        .btn-group
          - clean_params
          = will_paginate @suppliers,                            |
            :inner_window => 0,                                  |
            :outer_window => 0,                                  |
            :previous_label => t(:prev), |
            :next_label => t(:next)          |
        .btn-group.pull-right
          = link_to suppliers_path(:format => :csv), :class => "btn" do
            %i.icon-download CSV
          = link_to suppliers_path(:format => :json), :class => "btn" do
            %i.icon-download JSON 
  .span3
    = search_form_for @q, :url => search_suppliers_path, :html => { :class => "well well-small" }, :method => :post do |f|
      = ransack_field("supplier", "name", f, "Name")
      = ransack_field("supplier", "id", f, "Id")
      = f.submit t(:filter, :default => "Filter"), :class => "btn btn-primary"
      = link_to  t(:cancel, :default => "Cancel"), suppliers_path(:nosearch => "ok"), :class => "btn"
