%h2
  = t(:listing, :default => "Listing")
  = t('app.models.supplier.bs_caption_plural', :default => 'supplier')
%p
  = link_to '<i class="icon-plus"></i> '.html_safe + t(:new, :default => "New") + ' ' + t('app.models.supplier.bs_caption', :default => 'supplier'), new_supplier_path, :class => "btn"
.row-fluid
  .span9
    %div
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th{column_style("supplier", "name")}
              =sorting_header("supplier", "name", "")
            %th{column_style("supplier", "first_name")}
              =t :first_name
            %th{column_style("supplier", "last_name")}
              =t :last_name
            %th{column_style("supplier", "country")}
              =t :country
            %th{:colspan => "3"}
              %label.checkbox
                = pluralize(@supplier_scope.count, "supplier")
        %tbody
          - @suppliers.each do |supplier|
            %tr{:class => "line-#{cycle("1","2")}"}
              %td{column_style("supplier", "name")}
                =supplier.name
              %td{column_style("supplier", "address_first_name")}
                =supplier.address.first_name
              %td{column_style("supplier", "address_last_name")}
                =supplier.address.last_name
              %td{column_style("supplier", "address_country")}
                =supplier.address.country
              %td
                = link_to supplier_path(supplier), :title => t(:show) do 
                  %i.icon-search
              %td
                = link_to edit_supplier_path(supplier), :title => t(:edit) do
                  %i.icon-pencil
              %td
                = link_to supplier_path(supplier), :method => :delete, :title => t(:destroy) do
                  %i.icon-remove
      .btn-toolbar
        .btn-group
          - clean_params
          = will_paginate @suppliers,                            |
            :inner_window => 0,                                  |
            :outer_window => 0,                                  |
            :previous_label => t(:prev), |
            :next_label => t(:next)          |
        .btn-group.pull-right
          = link_to suppliers_path(:format => :csv), :class => "btn" do
            %i.icon-download CSV
          = link_to suppliers_path(:format => :json), :class => "btn" do
            %i.icon-download JSON 
  .span3
    = search_form_for @q, :url => search_suppliers_path, :html => { :class => "well well-small" }, :method => :post do |f|
      = ransack_field("supplier", "name", f, "Name")
      = ransack_field("supplier", "address_country", f, "Country")
      = f.submit t(:filter, :default => "Filter"), :class => "btn btn-primary"
      = link_to  t(:cancel, :default => "Cancel"), suppliers_path(:nosearch => "ok"), :class => "btn"
