.row
  .large-9.column
    .row
      .large-8.column
        %h2
          = t(:suppliers)
      .large-4.column
        = link_to  t(:new) + ' ' + t(:supplier) , new_supplier_path , :class => "admin-button"
    .row
      %p
        = paginate @suppliers
  .large-3.column
    = image_tag "admin/suppliers.jpg"
.row
  .medium-9.columns
    %div
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th{column_style("supplier", "name")}
              =sort_link @q,  :supplier_name
            %th{column_style("supplier", "address")}
              =t :address
            %th{:colspan => "3"}
              %label.checkbox
                = @supplier_scope.count.to_s + " " + t(:suppliers)
        %tbody
          - @suppliers.each do |supplier|
            %tr{:class => "line-#{cycle("1","2")}"}
              %td
                =supplier.supplier_name
              %td{column_style("supplier", "address_last_name")}
                =supplier.whole_address
              %td= link_to t(:show) , supplier_path(supplier), :title => t(:show)
              %td= link_to t(:edit) , edit_supplier_path(supplier), :title => t(:edit)
              %td= link_to t(:destroy) , supplier_path(supplier), :method => :delete, :title => t(:destroy)
  .medium-3.columns
    = search_form_for @q, :url => search_suppliers_path, :html => { :class => "well well-small" }, :method => :post do |f|
      = f.facet_for("supplier_name" , :label => t(:name))
      = f.facet_for("address" , :label => t(:address))
      = f.submit t(:filter), :class => "submit-button"
      = link_to  t(:cancel), suppliers_path, :class => "admin-button"
