.row
  .col-md-9
    .row
      .col-md-10
        %h2= t(:suppliers)
        = paginate @suppliers
      .col-md-2
        = link_to  t(:new) + ' ' + t(:supplier) , new_supplier_path , :class => "btn btn-primary"
  .col-md-3
    = image_tag "admin/suppliers.jpg" , :class => "img-responsive"
.row
  .col-md-9
    %div
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th=sort_link @q,  :supplier_name
            %th=t :address
            %th{:colspan => "2"}
              %label.checkbox
                = @suppliers.length.to_s + " " + t(:suppliers)
        %tbody
          - @suppliers.each do |supplier|
            %tr{:class => "line-#{cycle("1","2")}"}
              %td
                =supplier.supplier_name
              %td=supplier.whole_address
              %td= link_to t(:show) , supplier_path(supplier), :title => t(:show)
              %td= link_to t(:edit) , edit_supplier_path(supplier), :title => t(:edit)
    = paginate @suppliers
  .col-md-3
    = search_form_for @q, :url => search_suppliers_path, :html => { :class => "well well-small" }, :method => :post do |f|
      .form-group
        = f.text_field :supplier_name_cont , :placeholder =>  t(:name)
      .form-group
        = f.text_field :address_cont , :placeholder =>  t(:address)
      = f.submit t(:filter), :class => "btn btn-success"
      = link_to  t(:cancel), suppliers_path, :class => "btn btn-warning"
  