%h2
  = t(:supplier) + ":" +  @supplier.supplier_name

.large-6.column
  %h3= t(:contact)
  %p
    %b
      = t(:name) + ":" +  @supplier.name.to_s
  %p
    %b
      = t(:street) + ":" +  @supplier.street.to_s
  %p
    %b
      = t(:city) + ":" + @supplier.city.to_s
.large-6.column
  %p
    %b
      = t(:phone) + ":" +  @supplier.phone.to_s
  %p
    %b
      = t(:country) + ":" + @supplier.country.to_s

= link_to t(:edit), edit_supplier_path(@supplier), :class => "admin-button"
= link_to t(:back), suppliers_path, :class => "admin-button"

=render "products/triple" , :products => @supplier.products
    
