%h2
  = t(:show, :default => "Show")
  = t(:supplier)
%p
  %b
    = t(:name) + ":" +  @supplier.name
%p
  %b
    = t(:street) + ":" +  @supplier.street if @supplier.street
%p
  %b
    = t(:city) + ":" + @supplier.city if @supplier.city
%p
  %b
    = t(:phone) + ":" +  @supplier.phone if @supplier.phone
%p
  %b
    = t(:country) + ":" + @supplier.country if @supplier.country
    
= link_to t(:edit), edit_supplier_path(@supplier), :class => "admin-button"
= link_to t(:back), suppliers_path, :class => "admin-button"
