%h2.suppliers_show_start
  = t(:supplier) + " : " +  @supplier.supplier_name

.col-md-6
  %h3= t(:contact)
  %p
    %b
      = t(:name) + " : " +  @supplier.name.to_s
  %p
    %b
      = t(:street) + " : " +  @supplier.street.to_s
  %p
    %b
      = t(:city) + " : " + @supplier.city.to_s
.col-md-6
  %p
    %b
      = t(:phone) + " : " +  @supplier.phone.to_s
  %p
    %b
      = t(:country) + " : " + @supplier.country.to_s

= link_to t(:edit), edit_supplier_path(@supplier), :class => "btn btn-success"
= link_to t(:delete) , supplier_path(@supplier),
          :method => :delete , :class => "btn btn-danger",
          :data => {  :confirm => t(:are_you_sure )}
= link_to t(:back), suppliers_path, :class => "btn btn-warning"

=render "products/triple" , :products => @supplier.products.no_items
.suppliers_show_end
