%h2
  = t(:show, :default => "Show")
  = t('app.models.supplier.bs_caption', :default => 'supplier')
%p
  %b
    = t('app.models.supplier.bs_attributes.name', :default => 'name')
    \:
  = @supplier.name
%p
  %b
    = t('app.models.supplier.bs_attributes.address', :default => 'address')
    \:
  = @supplier.address
/ Beautiful_scaffold - AddField - Field - Do not remove
= link_to t(:edit, :default => "Edit"), edit_supplier_path(@supplier), :class => "btn"
= link_to t(:back, :default => "Back"), suppliers_path, :class => "btn"
