%h2
  = t(:show, :default => "Show")
  = t(:supplier)
%p
  %b
    = t(:name) + ":" +  @supplier.name
%p
  %b
    = t(:first_name) + ":" + @supplier.address.first_name if @supplier.address
%p
  %b
    = t(:last_name) + ":" +  @supplier.address.last_name if @supplier.address
%p
  %b
    = t(:street1) + ":" +  @supplier.address.street1 if @supplier.address
%p
  %b
    = t(:street2) + ":" +  @supplier.address.street2 if @supplier.address
%p
  %b
    = t(:city) + ":" + @supplier.address.city if @supplier.address
%p
  %b
    = t(:country) + ":" + @supplier.address.country if @supplier.address
= link_to t(:edit), edit_supplier_path(@supplier), :class => "admin-button"
= link_to t(:back), suppliers_path, :class => "admin-button"
