!!!
%html{:lang => (I18n.locale || I18n.default_locale)}
  %head
    %meta{:charset => "utf-8"}/
    %title Office Clerk
    %meta{:content => "Office Clerk", :name => "description"}
    = stylesheet_link_tag "admin"
    = javascript_include_tag "admin"
    = csrf_meta_tags
    = yield :head
  %body{:style => ""}
    %nav.top-bar
      %ul.title-area
        %li.name
          %h1
            %a{href: "/group/xxx"}= t(:shop)
      %section.top-bar-section
        / Right Nav Section
        %ul.right
          %li
          - if user_signed_in?
            %li= link_to t(:logout), destroy_user_session_path, :method=>'delete'
          - else
            %li= link_to t(:login), new_user_session_path
        / Left Nav Section
        %ul.left
          %li
          = render :partial => "layouts/admin_menu"
    .row.content
      .large-12.column
        - if not flash[:notice].blank? then
          .alert.alert-info
            %a.close{"data-dismiss" => "alert", :href => "#"} ×
            %h4.alert-heading Info :
            = flash[:notice]
        - if not flash[:error].blank? then
          .alert.alert-error
            %a.close{"data-dismiss" => "alert", :href => "#"} ×
            %h4.alert-heading Error :
            = flash[:error]
        = yield
