!!!
%html{:lang => (I18n.locale || I18n.default_locale)}
  %head
    %meta{:charset => "utf-8"}/
    %title Office Clerk
    %meta{:content => "Office Clerk", :name => "description"}
    = stylesheet_link_tag "admin"
    = javascript_include_tag "admin"
    = csrf_meta_tags
    = yield :head
  %body{:style => ""}
    %nav.top-bar
      %ul.title-area
        %li.name
          %h1
            %a{href: "/group/xxx"}= t(:shop)
      %section.top-bar-section
        / Right Nav Section
        %ul.right
          %li
          - if current_clerk
            %li= link_to current_clerk.email , edit_clerk_path(current_clerk)
            %li= link_to t(:sign_out), sign_out_path
          - else
            %li= link_to t(:sign_in), sign_in_path
        / Left Nav Section
        %ul.left
          %li
          = render :partial => "layouts/admin_menu"
    .row.content
      .large-12.column.alert
        - if not flash[:notice].blank? then
          .alert-notice.row
            .large-3.column
              .alert-heading= t(:info) + " :"
            .large-9.column
              .alert-message!= flash[:notice]
      .large-12.column.alert
        - if not flash[:error].blank? then
          .alert-error.row
            .large-3.column
              .alert-heading= t(:info) + " :"
            .large-9.column
              .alert-message!= flash[:notice]
        = yield
