!!!
%html{:lang => (I18n.locale || I18n.default_locale)}
  %head
    %meta{:charset => "utf-8"}/
    %title Office Clerk
    %meta{:content => "Office Clerk", :name => "description"}
    = stylesheet_link_tag "admin"
    = javascript_include_tag "admin"
    = csrf_meta_tags
    = yield :head
  %body{:style => ""}
    .container-fluid
      %nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse{role: "navigation"}
        .navbar-header
        %ul.nav.navbar-nav
          %li
            %a{href: "/"}= t(:shop)
          = render :partial => "layouts/admin_menu"
        %ul.nav.navbar-nav.navbar-right
          %li= link_to current_clerk.email , edit_clerk_path(current_clerk)
          %li= link_to t(:sign_out), sign_out_path

      - if not flash[:notice].blank? then
        .row.content
          .col-md-12.alert
            .alert-notice.row
              .col-md-3
                .alert-heading= t(:info) + " :"
              .col-md-9
                .alert-message!= flash[:notice]
      - if not flash[:alert].blank? then
        .row.content
          .col-md-12.alert
            .alert-error.row
              .col-md-3
                .alert-heading= t(:info) + " :"
              .col-md-9
                .alert-message= flash[:alert]
        .large-12.column
          .row.space
            =image_tag "shop/spacer.gif"

      = yield

    .row
      .col-md-12
        %br