!!!
%html{:lang => (I18n.locale || I18n.default_locale)}
  %head
    %meta{:charset => "utf-8"}/
    %title= content_for?(:title) ? content_for(:title) :  "Rubydesign"
    = stylesheet_link_tag "application" ,  :media => :all
    = #javascript_include_tag "ruby_clerks"
    = csrf_meta_tags
  %body
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,300italic,500,700", :rel => "stylesheet", :type => "text/css"}/
    %header
      %ul.nav
        %li= link_to "Home" , root_path
        %li= ext_link "My Github", "https://github.com/rubydesign/"
        %li= ext_link "RubyX", "http://ruby-x.org"
        %li= ext_link "EcoFrame House" , "https://ecoframe.house/"
        %li= ext_link "Raisa tanssitemppeli" , "http://tanssitemppeli.fi"
        %li= ext_link "VillaTaika B&B" , "http://villataika.fi/"
        %li= ext_link "Hub Feenix" , "https://hubfeenix.fi"

    %main
      .row
        = yield
    %footer
      .row
        %ul.nav
          %li= link_to "Home" , root_path
          %li= ext_link "My Github", "https://github.com/rubydesign/"
          %li= ext_link "RubyX", "http://ruby-x.org"
          %li= ext_link "EcoFrame House" , "https://ecoframe.house/"
          %li= ext_link "Raisa tanssitemppeli" , "http://tanssitemppeli.fi"
          %li= ext_link "VillaTaika B&B" , "http://villataika.fi/"
      .row.center
        %p © Copyright Torsten Ruger 2013-20
