!!!
%html{:lang => (I18n.locale || I18n.default_locale)}
  %head
    %meta{:charset => "utf-8"}/
    %title= content_for?(:title) ? content_for(:title) :  "Office Clerk"
    = include_gon(:init => true)
    = stylesheet_link_tag "office_clerk" ,  :media => :all
    -office_assets.each do |ass|
      = stylesheet_link_tag ass , :media => :all
    = javascript_include_tag "office_clerk"
    -office_assets.each do |ass|
      = javascript_include_tag ass
    = csrf_meta_tags
    = yield :head
  %body{:style => ""}
    .container-fluid
      %nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse.hidden-print{role: "navigation"}
        .navbar-header
        %ul.nav.navbar-nav.menu
          %li
            %a{href: "/"}= t(:shop)
          = render :partial => "layouts/admin_menu"
        %ul.nav.navbar-nav.navbar-right
          %li= link_to current_clerk.email , edit_clerk_path(current_clerk)
          %li= link_to t(:sign_out), sign_out_path
      = render "layouts/messages"

      = yield

      .row
        .col-md-12
          %br
