!!!
%html{:lang => (I18n.locale || I18n.default_locale)}
  %head
    %meta{:charset => "utf-8"}/
    %title= content_for?(:title) ? content_for(:title) :  "Office Clerk"
    = stylesheet_link_tag "ruby_clerks" ,  :media => :all
    = javascript_include_tag "ruby_clerks"
    = csrf_meta_tags
    = yield :head
  %body{:style => ""}
    .container-fluid
      .bar
        %ul
          %li{:class => params[:controller] == "products" && "active" }
            = link_to t(:products), products_path
          %li{:class => params[:controller] == "baskets" && "active" }
            = link_to t(:baskets), baskets_path
          %li{:class => params[:controller] == "orders" && "active" }
            = link_to t(:orders), orders_path
          %li{:class => params[:controller] == "purchases" && "active" }
            = link_to t(:purchases), purchases_path
          %li{:class => params[:controller] == "categories" && "active" }
            = link_to t(:categories), categories_path
          %li{:class => params[:controller] == "suppliers" && "active" }
            = link_to t(:suppliers), suppliers_path
          %li{:class => params[:controller] == "clerks" && "active" }
            = link_to t(:clerks), clerks_path
          %li{:class => params[:controller] == "manage" && "active" }
            = link_to t(:manage), manage_all_path
          - if current_clerk
            %li= link_to current_clerk.email , edit_clerk_path(current_clerk)
          %li= link_to t(:sign_out), sign_out_path
    .container-fluid
      = render "layouts/messages"

      = yield

      .row
        .col-md-12
          %br
